@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    width: 1600px;

    font-family: Lato, sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;

    width: 1375px;
    margin: 25px auto;
}

header div {
    display: flex;
    align-items: center;
}

header .logo, header .browse div, header .account_shop img {
    cursor: pointer;
}

header .logo .text_logo {
    margin-left: 13px;

    font-size: 27px;
    letter-spacing: 0.68px;
    font-weight: 300;
}

header .logo b {
    font-size: 27px;
    letter-spacing: 0.68px;
    color: #f16d7f;
}

header .browse {
    margin-left: 37px;
}

header .browse, header .browse div {
    display: inline-block;
}

header .browse select {
    background-color: #cdcdcc;

    border: solid #cdcdcc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    padding: 5px;

    color: #222;
}

header .browse input {
    border: none;
    border-right: 1px solid grey;

    padding: 7px;
}

header .browse div {
    margin-left: 5px;
}

header .account_shop select {
    background-color: #F16D7F;

    border: solid #F16D7F;
    
    color: white;

    font-size: 15px;
    letter-spacing: 0.03em;
    
    padding: 5px;
}

header .account_shop img {
    margin-right: 26px;
}

nav {
    width: 681px;
    height: 50px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: black;
}

.one {
    padding-top: 224px;
    padding-left: 230px;

    background-image: url(../img/Clip0.png);
    background-size: cover;
    height: 520px;
}

.one .text {
    font-size: 40px;
    border-left: 10px solid #F16D7F;
    padding-left: 5px;
}

.two {
    display: flex;
    justify-content: space-between;

    width: 1140px;

    margin: 98px auto;
}

.two div > div {
    padding-top: 20px;
}

.two .border_text {
    background-color: white;
    padding: 15px;

    font-size: 18px;

    display: inline-block;
}

.two .border_text span {
    font-size: 30px;
    color: #F16D7F;
}

.two .two_11 {
    width: 560px;
    height: 516px;

    background-image: url(../img/Clip1.png);
}

.two .two_12 {
    width: 560px;
    height: 235px;

    margin-top: 20px;

    background-image: url(../img/Clip3.png);
    background-position: right;
    background-color: #DCDCD3;
    background-repeat: no-repeat;
}

.two .two_21 {
    width: 560px;
    height: 235px;

    background-image: url(../img/Clip2.png);
}

.two .two_22 {
    width: 560px;
    height: 516px;

    margin-top: 20px;

    background-image: url(../img/Clip4.png);
}

.three .title {
    text-align: center;
}

.three .title span {
    font-size: 14px;

    color: #9F9F9F;
}

.three .btn {
    background-color: #F16D7F;
    padding: 16px 30px;
    cursor: pointer;
    text-align: center;
    color: white;

    margin: 0 auto;

    width: 150px;
}

.gallery {
    width: 1200px;
    height: 746px;

    margin: 0 auto;

    margin-top: 60px;
    margin-bottom: 40px;

    display: flex;

    justify-content: space-between;
    align-content: space-between;

    flex-wrap: wrap;
}

.gallery .add_to_cart {
    width: 100%;
    height: 100%;

    cursor: pointer;
}

.gallery .add_to_cart:hover {
    background-image: url('../img/Add to cart.png');
    background-position: center;
    background-blend-mode: normal;
    background-color: rgba(0,0,0,0.5);
    background-repeat: no-repeat;
}

.gallery > div {
    width: 260px;
    height: 360px;
}

.gallery > div:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);
}

.gallery div > div:first-child {
    width: 260px;
    height: 280px;
}

.gallery .description {
    padding: 10px;
}

.gallery .description b:last-child {
    font-size: 18px;
    color: #F16D7F;
}

.gallery .img_1 {
    background-image: url(../img/Clip5.png);
}

.gallery .img_2 {
    background-image: url(../img/Clip6.png);
}

.gallery .img_3 {
    background-image: url(../img/Clip7.png);
}

.gallery .img_4 {
    background-image: url(../img/Clip8.png);
}

.gallery .img_5 {
    background-image: url(../img/Clip9.png);
}

.gallery .img_6 {
    background-image: url(../img/Clip10.png);
}

.gallery .img_7 {
    background-image: url(../img/Clip11.png);
}

.gallery .img_8 {
    background-image: url(../img/Clip12.png);
}

.four {
    width: 1140px;
    height: 529px;

    margin: 49px auto;

    color: white;

    display: flex;
}

.four > div:first-child {
    width: 767px;

    background-image: url(../img/Image.png);
    background-size: 100%;
    font-size: 32px;

    padding: 136px 36px;
}

.four > div:last-child {
    width: 373px;

    background-color: #222224;

    padding-left: 20px;
}

.four .flex-padding {
    display: flex;

    width: 300px;

    justify-content: space-between;
    align-items: center;

    padding-top: 60px;
}

.four .flex-padding b {
    font-size: 20px;
}

.four .flex-padding span {
    font-size: 14px;
}

.four .flex-padding div {
    width: 230px;
}

.five{
    width: 100%;
    height: 438px;
    background: url(../img/Clip13.png);
}
.bk{
    width: calc(100% - 460px);
    height: 218px;
    padding: 110px 230px;
    background-color: #F2F2F250
}
.five_cont{
    height: 100%;
    width: 100%;
}
.avatarca{
    float: left;
    height: 83px;
    width: 83px;
}
.avatarca img{
    border-radius: 50%;
    height: 83px;
    width: 83px;
}
.column_one{
    margin-left: 20px;
    float: left;
    width: 425px;
    line-height: 20px;
}
.column_two{
    padding-top: 40px;
    text-align: center;
    float: right;
}
.line_block hr{
    margin-top: 20px;
    float: left;
    margin-right: 13px;
    background-color: #D6D6D6;
    box-shadow: 0 0 2px #00000016;
    border: none;
}
.enter_u_email{
    width: 376px;
    height: 46px;
    background-color: #E1E1E1;
    border-radius: 23px;
}

.six{
    width: calc(100% - 460px);
    height: 240px;
    padding: 110px 230px 0 230px;
    margin-bottom: 100px;
}
.six_cont{
    
}
.one_six{
    width: 450px;
    float: left;
}
.two_six{
    margin-left: 70px;
    width: 100px;
    float: left;
}
.three_six{
    margin-left: 130px;
    width: 150px;
    float: left;
}
.four_six{
    margin-left: 70px;
    width: 160px;
    float: left;
}
.zag_six{
    color: #F16D7F;
    font-size: 18px;
    font-weight: bold;
}
.span_six{
    color: #898989;
    font-size: 16px;
    line-height: 60px;
}

.footer{
    height: 20px;
    width: calc(100% - 460px);
    padding: 30px 230px 20px 230px;
    background-color: #E6E6E6;
}
.footer_cont{

}
.line_block1 hr{
    float: right;
    margin-top: -25px;
    background-color: #fff;
    border: none;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 0 2px #00000030
}
