
.fig {
    text-align: center;
}
.text1 {
    color: coral;
    background-color: burlywood;
    border: 4px solid pink
}
.border{
    border: 3px solid green
}
.heading {
    color: Silver;
    background-color: Moccasin;
    border: 3px solid DarkCyan
}

.vaib{
    background-image: url(../img/melkiybg.jpg);
}

.text2{
    color: black;
    background-color: Tan;
    border: 5px solid Purple;
    font-style: italic
}
.saitec{
    text-decoration: none;
    text-transform: uppercase;
    color:crimson;
}
.text2 + h3{
    color: cornflowerblue
}
.globback{
    background-image: url(../img/osnovbg.jpg)
}
.shlyapa{
    background-image: url(../img/osnovbg.jpg);
    width: 1920px;
    margin: 0 auto;
    height: 1080px
}
.textoid:first-letter{
    font-size: 30px;
    color: brown
}
table{
    border: 1px solid black;
    width: 400px;
    height: 100px;
    border-spacing: 10px
}
td{
    border: 1px solid green;
    text-align: center;
    padding-left: 20px
}
.menu li{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}
.product{
    width: 200px;
    height: 150px;
    border: 1px solid blue;
}
.product_1{
    position: relative;
    left: 150px;
    top: 50px;
    background-color: Silver;
}
.product_2{
    position: relative;
    left: 50px;
    z-index: 1;
    background-color: Navy
}
.container {
    width: 500px;
    margin: 0 auto;
    height: 100px
}
.header {
    height: 200px;
    background-color: Goldenrod
}
.logo{
    height: 50px;
    width: 50px;
    background-color: Purple
}