@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0 auto;
}
a{
    color: #212121;
    text-decoration: none;
}
.container{
    width: 1366px;
    height: 1307px;
}
.header{
    width: 1366px;
    height: 360px;
    background-color: #F5F5F5;
}
.menu{
    width: 1100.28px;
    height: 27.18px;
    padding-left: 98.3px;
    padding-top: 62.8px;
    padding-right: 210px;
}
.logo{
    margin: 0;
}
nav ul li{
    font-family: montserrat;
    font-size: 14px;
    text-decoration: none;
    display: inline; 
    padding-right: 30px;
}
.search{
    padding: 0;
}
.txt{
    margin-top: -50px;
    font-family: montserrat;
    font-weight: 100;
    font-size: 62px;
    padding-top: 244px;
}
.first{
    text-align: center;    
    margin-left: 98px;
    float: left;
    width: 370px;
    height: 370px;
    border: 1px solid #9C9C9C;
}
.second{
    text-align: center; 
    margin-right: 98px;
    float: right;
    width: 370px;
    height: 370px;
    border: 1px solid #9C9C9C;
}    
.third{
    text-align: center; 
    margin-top: 54.3px;
    float: center;
    width: 370px;
    height: 370px;
    border: 1px solid #9C9C9C;
}    
.gps{
    width: 30px;
    height: 64px;
    padding-top: 20px;
}
.california{
    padding-top: 15px;
    font-family: montserrat;
    font-size: 22px;
    font-weight: bold;
}
.phone{
    font-family: montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #6C6C6C;
    line-height: 20px;
}
.number{
    font-family: montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    line-height: 20px;
}
.location{
    font-family: montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #6C6C6C;
    line-height: 20px;
}
.footer{
    margin-top: 122px;
    width: 1366px;
    height: 384px;
    background-color: #F5F5F5;
}
.one{
    width: 270px;
    height: 163.79px;
    float: left;
    padding-left: 98px;
    padding-top: 113.5px;
}
.contact{
    font-family: montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #6C6C6C;
    padding-bottom: 10px;
}
.text{
    font-family: montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}
.two{
    width: 470px;
    height: 163.79px;
    float: left;
    padding-top: 113.5px;
}
.firstdiv{
    width: 235px;
    height: 124.57px;
    float: left;
}
.text2{
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 26px;
}
.seconddiv{
    width: 235px;
    height: 124.57px;
    float: right;
}
.text3{
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 26px;
}
.three{
    padding-top: 113.5px;
    width: 370.19px;
    height: 153.49px;
    float: left;
}
input{
    width: 370.19px;
    height: 48px;
    border: 1px solid #D9DEE1;
    padding-left: 10px;
}
.telegram1{
    float: left; 
    margin-top: 25px;
}
.telegram{
    width: 25px;
    height: 33px;
    position: absolute;
    margin-left: -50px;
    margin-top: 15px;
}
.copyright{
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    position: absolute;
    padding-left: 97.6px;
    padding-top: 350px;
}
.img3{
    width: 16px;
    height: 16px;
}
.img4{
    width: 16px;
    height: 16px;
}
.logos{
    width: 90px;
    height: 37px;
    padding-top: 350px; 
    padding-left: 650px;
    position: absolute;
}
.terms{
    width: 365px;
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    position: absolute;  
    padding-top: 350px; 
    padding-left: 880px;
}