* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial;
}

a{
    text-decoration: none;
}
.textBrowse{
    width: 87px; 
    height: calc(100% - 10px);
    background-color: #F9F9F9;
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #E6E6E6;
    padding-top: 10px;
}
.textBrowse2{
    padding: 10px;
}
.textSearch{
    width: 278px;
    height: calc(100% - 10px); 
    float:left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
    border-right: 1px solid #E6E6E6;
    padding-top: 10px;
}
.textSearch2{
    padding: 10px;
}
body {
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    height: auto;
    width: 1600px;
}
Buttonpng{
height: 38px; 
width: 130px; 
padding-top: 5px;
}
.header{
    width: 100%;
    height: 150px;
}
.head{
    width: auto;
    height: 50px;
    padding: 25px 225px;
    border-bottom: 1px solid #ECECEC;
}
.group{
    padding: 0px;
}
.brand{
    padding: 5px;
}
.ham{
    float: left;
}
.ham1{
    float: right;
}
.headc2{
    width: 100%;
    height: 50px;
}
.headc2 nav{
    padding: 15px 0;
    margin: 0 auto;
    width: 876px;
    height: 16px;
    text-align: center;
}
.headc2 nav li{
    color: black;
    font-size: 14px;
    list-style-type: none;
    padding: 0 30px;
    float: left;
}
.browse{
    float: left;
    color: #A4A4A4;
    margin-top: 8px;
    margin-left: 15px;
    width: 403px;
    height: 40px;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.one{
    height: 610px;
    width: 100%;
    background: center url(../img/Clip0.png) #E8E8E8;
    background-repeat: no-repeat;
}
.onec{
    padding-top: 220px;
    padding-left: 230px;
}
.THEBRAND{
    font-size: 60px;
    border-left: 10px solid #F16D7F; 
    margin-left: -15px;"
}
.THEBRAND2{
    padding-left: 5px;
}
.OFLUX{
    font-size: 40px;
}
.REDFASHION{
    padding-left: 10px;
    font-size: 40px;
    color: #F16D7F;
}

.two{
    height: calc(1020px - 196px);
    width: calc(100% - 460px);
    padding: 98px 230px;
}
.twoc{
    width: 100%;
    height: 100%;
}
.tcone{
    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
    height: 100%;
}
.tctwo{
    float: right;
    width: calc(50% - 10px);
    margin-left: 10px;
    height: 100%;
}
.tcone1{
    height: 516px;
    margin-bottom: 20px;
    width: 100%;
    padding-top: 26px;
    background: url(../img/Clip1.png)
}
.tcone2{
    height: 235px;
    width: 100%;
    padding-top: 26px;
    background: right url(../img/Clip3.png) #DCDCD3;
    background-repeat: no-repeat;
}
.tctwo1{
    height: 235px;
    width: 100%;
    padding-top: 26px;
    background: right url(../img/Clip2.png) #DCDCD3;
    background-repeat: no-repeat;
}
.tctwo2{
    height: 516px;
    margin-top: 20px;
    width: 100%;
    padding-top: 26px;
    background: url(../img/Clip4.png)
}
.bmwaf{
    width: auto;
    max-width: 225px;
    height: 67px;
    padding-top: 15px;
    background-color: white;
    margin-left: 1px;
}
.rmwaf{
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
    color: #F16D7F;
}
.smwaf{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
}

.three{
    height: calc(1020px - 30px);
    width: calc(100% - 460px);
    padding: 15px 230px;
}
.three_c{
    width: 100%;
    height: 100%;
}
.tc_fetured{
    font-size: 30px;
    font-weight: bold;
}
.tc_shopfor{
    font-size: 14px;
    color: #9F9F9F;
}
.three_text{
    text-align: center;
}
.block_img{
    margin: 0;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.slider {
    width: 100%;
    height: 746px;
    background: white;

}    
.slider li {
    width: 260px;
    height: 280px;
    list-style-type: none;
}
.slider li img{
    width: 260px;
    height: 280px;
}
 
.gallery_item {
    position: relative;
    background: center url(../img/Add%20to%20cart.png) #3A3838;
    display: block;
    background-repeat: no-repeat;
    width: 260px;
    height: 280px;
    float: left;
}
.slider li:hover {
    opacity: 0.1;
}
.gallery_item:hover .bottom_img{
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);
}

.bottom_img{
    height: 60px;
    width: 240px;
    background-color: white;
    padding: 10px;
    font-weight: bold
}
.mango_pt{
    font-size: 13px;
}
.price{
    font-size: 16px;
    color: #F16D7F;
}
.three_button_one{
    width: 212px;
    height: 32px;
    padding-top: 16px;
    text-align: center;
    background-color: #F16D7F;
}
.browse_all_product{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.four{
    width: calc(100% - 460px);
    height: 637px;
    padding: 49px 230px 49px 230px;
    color: white;
}
.four_cont{
    height: 529px;
}
.four_one{
    width: 695px;
    float: left;
    height: calc(100% - 272px);
    padding: 136px 36px;
    background: url(../img/Image.png);
}
.four_two{
    width: 373px;
    float: right;
    height: 100%;
    background-color: #222224;
}
.span30offer{
    font-size: 54px;
    color: white;
    float: left;
    letter-spacing: 2px;
}
.span30offer2{
    color: #F16D7F;
    text-decoration: none;
    margin-left: 10px; 
}
.for_woman{
    float: left;
    margin-top: 20px;
    color: white;
    clear: left;
    font-size: 32px;
}
.zagolov_four{
    font-size: 20px;
    font-weight: bold;
}
.four_text{
    margin: 55px 20px 47px 110px;
}
.text_span_four{
    font-size: 14px;
}
.four_text img{
    margin-left: -80px;
    margin-right: 30px;
}

.five{
    width: 100%;
    height: 438px;
    background: url(../img/Clip13.png);
}
.bk{
    width: calc(100% - 460px);
    height: 218px;
    padding: 110px 230px;
    background-color: #F2F2F250
}
.five_cont{
    height: 100%;
    width: 100%;
}
.avatarca{
    float: left;
    height: 83px;
    width: 83px;
}
.avatarca img{
    border-radius: 50%;
    height: 83px;
    width: 83px;
}
.column_one{
    margin-left: 20px;
    float: left;
    width: 425px;
    line-height: 20px;
}
.column_two{
    padding-top: 40px;
    text-align: center;
    float: right;
}
.line_block hr{
    margin-top: 20px;
    float: left;
    margin-right: 13px;
    background-color: #D6D6D6;
    box-shadow: 0 0 2px #00000016;
    border: none;
}
.enter_u_email{
    width: 376px;
    height: 46px;
    background-color: #E1E1E1;
    border-radius: 23px;
}

.six{
    width: calc(100% - 460px);
    height: 240px;
    padding: 110px 230px 0 230px;
    margin-bottom: 100px;
}
.six_cont{
    
}
.one_six{
    width: 450px;
    float: left;
}
.two_six{
    margin-left: 70px;
    width: 100px;
    float: left;
}
.three_six{
    margin-left: 130px;
    width: 150px;
    float: left;
}
.four_six{
    margin-left: 70px;
    width: 160px;
    float: left;
}
.zag_six{
    color: #F16D7F;
    font-size: 18px;
    font-weight: bold;
}
.span_six{
    color: #898989;
    font-size: 16px;
    line-height: 60px;
}

.footer{
    height: 20px;
    width: calc(100% - 460px);
    padding: 30px 230px 20px 230px;
    background-color: #E6E6E6;
}

.lineblock1 hr{
    float: right;
    margin-top: -25px;
    background-color: #fff;
    border: none;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 0 2px #00000030
}
