@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Shadows+Into+Light&display=swap');
*{
    padding: 0;
    margin: 0 auto;
}
a{
    color: #212121;
    text-decoration: none;
}
.container{
    width: 1369px;
    height: 3392px;
}
.header{
    width: 1366px;
    height: 360px;
    background-color: #F5F5F5;
}
.menu{
    width: 1100.28px;
    height: 27.18px;
    padding-left: 98.3px;
    padding-top: 62.8px;
    padding-right: 210px;
}
.logo{
    margin: 0;
}
nav ul li{
    font-family: montserrat;
    font-size: 14px;
    text-decoration: none;
    display: inline; 
    padding-right: 30px;
}
.search{
    padding: 0;
}
.txt{
    margin-top: -50px;
    font-family: montserrat;
    font-weight: 100;
    font-size: 62px;
    padding-top: 244px;
}
.bodyclass{
    width: 694.74px;
    height: 38.75px;
    float: left;
    padding-left: 98px;
    font-family: montserrat;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 21.6px;
    padding-top: 67.3px;
    word-spacing: 20px;
}
.bodyclass a{
    color: #212121;
}
.bodyclass a:hover{
    border-bottom: 3px solid #000;
}
.firstsix{
    width: 1170px;
    height: 770px;
    padding-top: 156px;
}
.photo{
    border: 1px solid #D9DEE1;
   
}
.secondsix{
    width: 1170px;
    height: 770px;
}
.arrow{
    width: 28px;
    height: 56px;
    padding-left: 680.9px;
    padding-top: 57.8px;
}
.promo-products{
    width: 1369px;
    height: 686px;
    padding-top: 125.2px;
}
.promo-img1{
    width: 50%;
    height: 686px;
    float: left;
    background-image: url(promo-img1.png)
}
.promo-img2{
    width: 50%;
    height: 686px;
    float: right;
    background-image: url(promo-img2.png)
}
.exclusive{
    font-family: montserrat;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #1E88E5;
    padding-left: 50px;
    padding-top: 224.5px;
} 
.fish{
    font-family: montserrat;
    font-size: 36px;
    font-weight: bold;
    line-height: 43.2px;
    color: #212121;
    padding-left: 50px;
}
.seat{
    font-family: montserrat;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 23.98px;
    padding-left: 50px;
    
}
.button{
    font-family: montserrat;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: white;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-left: 52px;
    margin-top: 15.5px;
}
.footer{
    margin-top: 122px;
    width: 1366px;
    height: 384px;
    background-color: #F5F5F5;
}
.one{
    width: 270px;
    height: 163.79px;
    float: left;
    padding-left: 98px;
    padding-top: 113.5px;
}
.contact{
    font-family: montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #6C6C6C;
    padding-bottom: 10px;
}
.text{
    font-family: montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
}
.two{
    width: 470px;
    height: 163.79px;
    float: left;
    padding-top: 113.5px;
}
.firstdiv{
    width: 235px;
    height: 124.57px;
    float: left;
}
.text2{
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 26px;
}
.seconddiv{
    width: 235px;
    height: 124.57px;
    float: right;
}
.text3{
    font-family: montserrat;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 26px;
}
.three{
    padding-top: 113.5px;
    width: 370.19px;
    height: 153.49px;
    float: left;
}
input{
    width: 370.19px;
    height: 48px;
    border: 1px solid #D9DEE1;
    padding-left: 10px;
}
.telegram1{
    float: left; 
    margin-top: 25px;
}
.telegram{
    width: 25px;
    height: 33px;
    position: absolute;
    margin-left: -50px;
    margin-top: 15px;
}
.copyright{
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    position: absolute;
    padding-left: 97.6px;
    padding-top: 350px;
}
.img3{
    width: 16px;
    height: 16px;
}
.img4{
    width: 16px;
    height: 16px;
}
.logos{
    width: 90px;
    height: 37px;
    padding-top: 350px; 
    padding-left: 650px;
    position: absolute;
}
.terms{
    font-family: montserrat;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    position: absolute;  
    padding-top: 350px; 
    padding-left: 880px;
}