h1 {
	color:red;
}

#sen{
	font-size:10px;
}

.info{
	background-color: rgba(255, 128, 128, 0.5);
	border: 2px solid black;
}

#image{
	font-size:100px;
	margin:10px;
	
	background-image: url(https://i1.wallbox.ru/wallpapers/main/201320/253138c1bfe2d6a.jpg);
}

.link{
	text-decoration: none;
	text-transform: uppercase;
}

.link{
	text-decoration: none;
	text-transform: lowercase;
}


