h1{
color: aqua;
 text-align: center;
 font-family:Montserrat-Bold;
 font-size: 50px;
 font-style: italic;
 font-weight: lighter;
}
head {
    color:yellow;
    font-size: 20px;
    font-family: Montserrat-Bold;
    font-style: italic;
    text-align: left;
    float: left; 
    margin: 0 0 10px 10px;
}
.st{
     color:black;
    text-align: begin;
    font-family: Montserrat-Bold;
    font-style: italic;
     font-size: 20px;
}