body{
    width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    font-family: Arial;
}

a{
    text-decoration: none;
}
.for{
    width: 100%;

}
.for2{
    float: left;
    width: calc(100% - 450px);
    padding: 0 225px;
    margin-bottom: 25px;
}
.for_new{
    width: 1600px;
    height: 150px;
}
.horor1{
    float: left;
}
.horor{
    float: right;
   
}

.horor3{
    float: left;
    margin-top: 10px;
}
.horor3 p{
    margin-top: 10px;
}
.for3{
    margin-bottom: 80px;
}
.for3 nav li{
    float: left;
    margin-left: 25px;
    list-style-type: none;
    
}
.for3 nav li a{
    color: black;
}


.for3 nav{
    margin-left: 500px;
    padding-top: 10px;
    
}

.horor2{
    height: 658px;
    width: 100%;
    margin-bottom: 102px;
    background-repeat: no-repeat;
    background: center url(img/4.png) #e8e8e8;
}

.color{
    width: 100%;
    height: 615px;
    font-size: 40px;
    font-weight: bold;
}

.color1{
    font-weight: bold;
}

.horor4{
    padding-left: 50px;
    padding-top: 200px;
    height: 458px;
    width: calc(100% - 50px);
}

.horor5{
    width: 1141px;
    height: 823px;
    margin: 0 auto;
    margin-bottom: 40px;
}
horor5_new{
    width: 100%;
    height: 100%;
}
.imag{
    width: 50%;
    height: 100%;
    float: left;
}
.imag1{
    width: 50%;
    height: 100%;
    float: right;    
}

.font{
    height: 542px;
    width: 560px;
    float: left;
    background-repeat: no-repeat;
    background:  url(img/5.png) #e8e8e8;
    
}

.font1{
    width: 560px;
    height: 261px;
    float:left;
    background: right url(img/6.png) #DADAD2;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.font2{
    width: 560px;
    height: 261px;
    float: right;
    background: url(img/7.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.font3{
    height: 542px;
    width: 560px;
    float: right;
    background-repeat: no-repeat;
    background:  url(img/8.png) #e8e8e8;    
}


.foto_8{
    height: calc(770px - 30px);
    width: calc(100% - 460px);
    padding: 15px 230px;
}
.foto_8_new{
    width: 100%;
    height: 100%;
}
.foto_8_text{
    text-align: center;
}
.img_8{
    margin: 0 auto;
    width: 1200px;
    height: 590px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.img_8 li {
    float: left;
    width: 260px;
    height: 280px;
    list-style-type: none;
    margin-right: 30px;
    margin-bottom: 30px;
}
.img_8 li img{
    width: 260px;
    height: 280px;
}
.button_one{
    width: 212px;
    height: 32px;
    padding-top: 16px;
    text-align: center;
    background-color: #F16D7F;
    bottom: 10px;
}
.block_span1{
    padding: 150px 30px;
    color: white;
    float: left;
    font-size: 54px;
}
.block_span{
    padding: 60px 15px;
    width: 250px;
    float: right;
    color: white;
}


.horor6{
    width: 1140px;
    height: 529px;
    padding: 96px 230px;
}
.horor6_new{
    width: 100%;
    height: 100%;
    background: left url(img/Image.png) #222224;
    background-repeat: no-repeat;
}


.horor7{
    width: calc(100% - 460px);
    height: 218px;
    background: url(img/Clip13.png);
    padding: 110px 230px;
}

.horor7_new{
    width: 100%;
    height: 100%;
}

.odin{
    width: 50%;
    float: left;
}

.dwa{
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 20px
}

.konec{
    width: calc(100% - 460px);
    height: 20px;
    background-color: #E6E6E6;
    padding: 30px 230px;
}