@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial;
}

a{
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: #fff;
    height: 5326px;
    width: 1366px;
}


/* Ш А П К А */
.header{
    width: 1366px;
    height: 800px;
    background-image: url(../img/slider-img.png)
}
.head{
    width: 1100px;
    height: 27px;
    padding: 64px 98px;
}
.head img{
    width: 184px;
    height: 21px;
}
.head nav{
    float: right;
}
.head nav li{
    list-style-type: none;
    float: left;
    margin-left: 30px;
}
.head nav ul li a{
    color: #8C8C8C;
    font-size: 14px;
}
.head a:hover {
    color: #000;
    border-bottom: 3px solid black;
}
.left_cont{
    height: 58px;
    width: 470px;
    padding: 0px 98px;
    margin-top: 192px;
}
.color_green{
    color: #43A047;
    font-size: 18px;
}
.fishnet{
    color: #212121;
    font-size: 62px;
}
.text_one{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button:hover{
    box-shadow: none;
}
.button p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;
}
.arrow{
    float: right;
    margin-right: 30px;
    margin-top: -19px;
    width: 9px;
    height: 14px;
}

.circle{
    width: 550px;
    margin: -50px 640px;
}
.circle1{
    width: 25px; 
    height: 25px;
    background: #21212133;
    border-radius: 50%;
    float: left;
}
.circle2{
    width: 35px; 
    height: 35px;
    background: #212121;
    border-radius: 50%;
    float: left;
    margin: -6px 5px 0 5px;
}
/* Ш А П К А */


/*ПЕРВЫЙ БЛОК*/
.one{
    width: 1366px;
    height: 375px;
    padding: 115px 0;
    
}
.one_cont{
    width: 1170px;
    height: 375px;
    padding: 0 98px;
}
.head_one{
    width: 1170px;
    height: 55px;
}
.head_one nav{
    float: left;
}
.head_one nav li{
    list-style-type: none;
    float: left;
}
.head_one nav ul li a{
    color: #6C6C6C;
    font-size: 36px;
}

.active228{
    float: left;
    height: 270px;
    width: 270px;
    margin-right: 30px;
    background-image: url(../img/product-1.png);
    border: 1px solid #9C9C9C;
}
.one_button{
    width: 48px; 
    height: 48px;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin: 66px 118px 20px 118px;
    box-shadow: 0 2px 5px #21212135;
}
.fishnet_chair_one{
    text-align: center;
    font-size: 22px;
    color: #212121;
}
.one_text{
    text-align: center;
    font-size: 14px;
    color: #6C6C6C;
}

.back_font{
    background-color: rgba(255,255,255,0.8);
    height: 100%
}
.btn-ghost{
    float: right;
    margin-top: 10px;
    width: 177px;
    height: 20px;
}
.pictures{
    width: 1185px;
    margin-top: 50px;
}
.pictures div img{
    float: left;
    height: 270px;
    width: 270px;
}
/*ПЕРВЫЙ БЛОК*/

/*ВТОРОЙ БЛОК*/
.two{
    width: 1366px;
    height: 683px;
}
.two_cont1{
    float: left;
    width: 50%;
    height: 683px;
    background-image: url(../img/promo-img1.png) 
}
.two_cont2{
    float: right;
    width: 50%;
    height: 683px;
    background-image: url(../img/promo-img.png) 
}

.left_cont2{
    height: 58px;
    width: 320px;
    padding: 0px 52px;
    margin-top: 192px;
}
.color_blue{
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;
}
.fishnet2{
    color: #212121;
    font-size: 36px;
    margin: 10px -3px;
}
.text_two{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button2{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button2:hover{
    box-shadow: none;
}
.button2 p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;
}
.arrow{
    float: right;
    margin-right: 30px;
    margin-top: -19px;
    width: 9px;
    height: 14px;
}
/*ВТОРОЙ БЛОК*/

/*ТРЕТИЙ БЛОК*/
.three{
    width: 1366px;
    height: 876px;
    padding: 115px 0;
}
.three_cont{
    width: 1170px;
    height: 876px;
    padding: 0 98px;
}
.head_three{
    width: 1170px;
    height: 55px;
}
.p_three{
    float: left;
    height: 87px;
    width: 470px;
    color: #212121;
    font-size: 36px; 
}
.pictures_three{
    float: left;
    width: 1180px;
    height: 770px;
}
.pictures_three img{
    width: 370px;
    height: 370px;
}
/*ТРЕТИЙ БЛОК*/

/*ЧЕТВЕРТЫЙ БЛОК*/
.four{
    width: 1366px;
    height: 800px;
    background-image: url(../img/slider.png)
}
.four_cont{
    width: 100%;
    height: 100%;
}
.left_cont4{
    height: 58px;
    width: 470px;
    padding: 270px 98px;
}
.color_red{
    color: #E53935;
    font-size: 18px;
}
.fishnet4{
    color: #212121;
    font-size: 62px;
    margin: 10px -3px;
}
.text_four{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button4{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button4:hover{
    box-shadow: none;
}
.button4 p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;
}
/*ЧЕТВЕРТЫЙ БЛОК*/

/*ПЯТЫЙ БЛОК*/
.five{
    width: 1366px;
    height: 570px;
    padding: 115px 0;
}

.five_cont{
    width: 1200px;
    padding: 0 98px;
}

.five_cont1{
    padding-right: 30px;
    float: left;
    width: 570px;
    height: 570px;
    background-size: 570px;
    background-image: url(../img/product-1-lg.png);
    background-repeat: no-repeat;
}
.five_cont2{
    float: left;
    width: 50%;
    height: 570px;
}
.five_cont2 img{
    float: left;
    height: 270px;
    width: 270px;
}

/*ПЯТЫЙ БЛОК*/

/*ШЕСТОЙ БЛОК*/
.six{
    width: 1366px;
    height: 516px;
    background-image: url(../img/back-img.png)
}
.six_cont{
    height: 516px;
    width: 1366px;
}
.left_cont6{
    height: 275px;
    width: 470px;
    padding: 132px 98px;
}
.color_black{
    color: #6C6C6C;
    font-size: 18px;
}
.find_follow_favorite{
    color: #212121;
    font-size: 62px;
}
.text_six{
    margin-top: 16px;
    color: #6C6C6C;
    font-size: 22px;
}
.pictures_six{
    margin-top: 36px;
}
/*ШЕСТОЙ БЛОК*/

/*ФУТЕР*/
.footer{
    background-color: #F7F7F7;
    width: 1366px;
    height: 384px;
}
.footter{
    padding: 115px 98px;
    width: 1170px;
    height: 230px;
}
.footer_cont1{
    width: 1170px;
    height: 163px;
    margin-bottom: 60px;
}
.foot_1{
    float: left;
    width: 270px;
    height: 163px;
    margin-right: 30px;
}
.foot_2{
    float: left;
    width: 470px;
    height: 163px;
    margin-right: 30px;
}
.foot_3{
    float: left;
    width: 370px;
    height: 163px;
}
.zag{
    color: #6C6C6C;
    font-size: 18px;
}
.text_foot{
    color: #212121;
    font-size: 14px;
}
.text_foot1{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;
    
}
.text_foot2{
    float: right;
    letter-spacing: 1px;
    line-height: 1.8;
}
.text_foot3{
    color: #212121;
    font-size: 14px;
}
.email{
    height: 22px;
    width: 370px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}
.text_email{
    color: #212121;
    font-size: 14px;
}

.fot2_one{
    float: left;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fot2_one p {
    font-size: 12px;
    color: #6C6C6C;
}
.fot2_two{
    float: left;
    width: 10%;
    height: 14px;
}
.fot2_three{
    float: right;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fot2_three p {
    text-align: right;
    font-size: 12px;
    color: #6C6C6C;
}
/*ФУТЕР*/