* {
    margin: 0;
    padding: 0;
}

main {
    width: 1633px;
    margin: 0 auto;
}

.slyder {
    width: 800px;
    height: 800px;
    background-image: url('../img/slyder.png');
    background-size: 800px;
}

.menu-list {
    list-style-type: none;
}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link-a {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}

.slyder-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.slyder-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
}

.slyder-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: white;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
}
