#qw {
    text-decoration: none;
}

#zag {
    color: cornflowerblue;
    text-shadow: 1px 2px 2px #000, 1px 2px 2px red;
}

#textp {
    font-size: 50px;
}

.heading {
    color: cornflowerblue;
    background-color: #000;
}

img {
    border: 6px solid cornflowerblue;
}

.yellow {
    font-size: 100px;
    color: teal;
    background-image: url('ZCAIYsYNEuM.jpg');
    background-position: left 20px;
}

.list li {
    width: 70px;
    height: 25px;
    border: 1px solid #c0c;
}

h2,
h1 {
    text-align: center;
}

p {
    text-align: right;
}

#tex {
    color: dimgrey;
    background-color: cyan;
    border: 5px solid black;
}

.menu li {
    width: 600px;
    height: 60px;
    list-style-type: none;
    border: 4px solid #ccc;
    text-align: center;
}

.menu li: nth-child(2):before {
    content: "new";
    color: blueviolet;
    text-transform: uppercase;
}
table{
    border:2px solid #000;
    width: 400px; 
    height: 200px;
    border-spacing: 10px;
    
}

table {
    border: 3px solid #345;
    border-radius: 10px;
    border-top: 13px solid #145;
    border-bottom-right-radius: 0px;
    border-spacing: 20px;
    
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    
    background-color: lightslategrey;
    color: rebeccapurple;
    
    width: 400px;
    height: 200px;
}

td {
    border: 5px solid rebeccapurple;
    
    text-align: center;
    vertical-align: top;
}


.menu li {
    list-style-type: none;
    
    text-decoration: none;
    
    border: 3px solid #000;
    color:#777 ;
    
    width: 200px;
    
    font-size: 20px;
}

.menu li:hover {
    background-color:#777 ;
    color: white;
}

.menu li:active {
    background-color: mediumaquamarine;
}

.menu li:nth-child(2n):before {
    content: 'NO!';
    color: darkred;
}

.menu li:hover:after {
    content: '>>>';
    color: darkturquoise;
}

.menu > li