
body{
    font-family: 'Montserrat', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.header{
    padding-top: 63px;
}
.menu{
    float: right;
}
.padding-site{
    padding-left: 98px;
    padding-right: 98px;
}
{
    margin: 0;
    padding: 0;
}
.container{
    width: 1366 px;
    margin: 0 auto;
}
.slyder{
    height: 800px;
    background-image: url(hero-26.jpg);
    position: relative;
}
.menu-list{
    list-style-type: none;
    float: left;
    margin-top: -13px; 
}
.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}
.menu-link-a{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.slyder-text{
    margin-top: 100px;
}
.slyder-trending {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -50px
}
.slyder-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
}
.slyder-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}
.button{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}
.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}
.circle-a {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}
.pagination{
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

