*{
	margin: 0px;
	padding: 0;
	font-family: Montserrat;

}


:root {
    --primary-color: #212121;
}

.bold {
	font-weight: 700;
}
.black {
	color: #212121;
}
.red {
	color: #F44336;
}











/*------------------------------*/
header {
	width: 1249px;
	height: 135px;
	background: #fff;
	padding: 50px 0 0 100px;

}

header .logo{
	display: inline-block;
	float: 	left;
	margin-top: 16px;	

}
.line {
	height: 50px;
	width: 1100px;	
	
}

.nav {
	width: 100%;
}

.nav-bar{
	margin-left: calc(185px + 375px);
	position: relative;
}
.menu-link:nth-child(1) {
	left:0px;
}

.menu-link:nth-child(2) {
	left:  calc( 72px);
}
.menu-link:nth-child(3) {
	left: calc(72px + 93px + 28px);
}
.menu-link:nth-child(4) {
	left: calc(72px + 93px + 126px);
}
.menu-link:nth-child(5) {
	left: calc(72px + 93px + 126px + 100px + 28px );
}

.line .search {
	position: absolute;
	left: calc(72px + 93px + 126px + 100px + 92px + 28px);
	top:15px;
}





.menu-link{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: var(--primary-color);
	text-transform: uppercase;
	text-decoration: none;
    position: absolute;
    top:16px;
}
.menu-link::after{
	content: '';
	display: block;
	margin-top: 5px;
	width: 0px;
	height: 3px;
	background-color: var(--primary-color);
	transition:  .4s;
	transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1.1);
    transition-delay: 0s;
}
.menu-link:hover::after{
	width: 100%;
	transition:  .4s;
	transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.23, -0.31, 0.1, 1.43);
    transition-delay: 0s;
}
.menu-link:hover{
	font-weight: 900;
}




header .two {
	height: 70px;
    width: 1349px;
    background-color: #F4F4F4;
    position: absolute;
    left: 0px;
    top: 115px;
}

.two .nav-bar{
	margin-left: 330px;
	margin-top: 10px;
	position: absolute;
}
.two .menu-link {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 21.6px;
	text-align: left;
	color: #6c6c6c;

}
.two .menu-link:nth-child(2) {
	left:  calc( 40px + 50px);
}
.two .menu-link:nth-child(3) {
	left: calc(40px + 50px + 66px + 50px);
}
.two .menu-link:nth-child(4) {
	left: calc(40px + 50px + 66px + 50px + 80px + 50px);
}
.two .menu-link:nth-child(5) {
	left: calc(40px + 50px + 66px + 50px + 80px
	+ 50px + 125px + 50px );
}
.two .menu-link:nth-child(6) {
	left: calc(40px + 66px + 80px + 125px + 98px + 250px );
}











/*---------------------------price*/
.price {
	height: 724px;
	width: 1249px;
	padding: 50px 0 0 100px;

}


.price .left {
	width: 50%;
	height: 652px;
	float: left;
}
.price .left .photo {
	height: 570px;
	width: 570px;
	background-image: url(../../img/product-20-big.jpg);

}
.price .left .under {
	height: calc(652px - 570px);
	width: 570px;
}
.price .left .under img:first-child {
	margin-left: calc(50% - 105px);
}



.price .right {
	height: 652px;
	float: left;
	width: 570px;
}
.price p {
	width: 569.79px;
	height: 53px;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 24px;
	text-align: left;
	color: #6c6c6c;

}
.price p.hot {
	width: 569.79px;
	height: 50px;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 48px;
	text-align: center;
	color: #F44336;

}
.price p.cent{
	width: 569.79px;
	height: 67px;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	color: #212121;
}
.price p.cent span {
	font-size: 70px;
}
.price h1 {
	width: 569.79px;
	height: 77.89px;
	font-family: Montserrat;
	font-size: 35.98px;
	line-height: 110px;
	text-align: center;
	color: #212121;
}
.slyder-button{
	margin-top:20px;
	margin-bottom: 20px;
	margin-left: 33px;
	width: 510px;
	height: 70px;
	background-color: #F44336;
	border-radius:50px;
	border: #fff;
	font-weight: 700;
	font-size: 18px;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    color:white;
	
}
.slyder-button:hover{
	box-shadow: 3px 3px 11px -5px black;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    
}
.slyder-button .fa-chevron-right {
	margin-top: 0;
}
.slyder-button .fa-chevron-right:before {
	font-size: 14px;
}








/*-------------------------------footer*/
footer {
	height: 346px;
	width: 1349px;
	background: #f7f7f7;
	/*!important*/
	position: absolute;	
}

footer .top p {
	position: absolute;
	letter-spacing: 0px;
}

footer .content {
	width: 1170px;
	height: 232px;
	margin-left: 98px;
	margin-top: 82px;
}

footer .content .top {
	height: 162px;
	width: 1170px;
	letter-spacing: -0.3em;

}

footer .content .top .top-line{
	height: 42px;

	letter-spacing: -0.3em;
}

footer .content .top .top-line p{
	width: 270px;
	height: 42.48px;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 24px;
	text-align: left;
	color: #6c6c6c;

}

footer .content .top .one {
	width: 270px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #212121;

} 

footer .content .top .C_U{
	width: 270px;
	height: 167px;
	display: inline-block;

}

footer .content .top .U_I {
	width: 470px;
	height: 162px;
	letter-spacing: -0.3em;
	margin-left: 30px;
	display: inline-block;

}

footer .content .top .U_I .left{
	height: 124px;
	width: 50%;
	
	display: inline-block;

}

footer  .U_I .left p{
	width: 235px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 26px;
	text-align: left;
	color: #212121;
}

footer  .U_I .right p{
	width: 235px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 26px;
	text-align: left;
	color: #212121;
}

footer .content .top .U_I .right{
	height: 124px;
	width: 50%;
	display: inline-block;

}

footer .content .top .L_S_I_T{
	width: 370px;
	height: 167px;
	margin-left: 28px;
	display: inline-block;

	position: relative;
}

footer .content .top .L_S_I_T .search{
	width: 370px;
	height: 48px;
	background: #fff;
	border: 1px solid #d9dee1;
	position: absolute;
	top: 100px;
}

footer .content .top .L_S_I_T .search p{
	width: 370.19px;
	height: 31.95px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #6c6c6c;
	margin-top: 13px;
	margin-left: 5px;
}
footer .content .top .L_S_I_T .search p i {
	margin-left: 200px;
}

footer .content .top .L_S_I_T .two {
	width: 370px;
	height: 60.96px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #212121;
}

footer .content .bottom {
	height: calc(232px - 162px);
	width: 1170px;

	letter-spacing: -0.3em;
}

footer .bottom p{
	font-family: Montserrat;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #6c6c6c;
	margin-top: 50px;	
	position: absolute;
		
}

footer .bottom .line{
	width: 1170px;	
	height: 70px;	
	position: relative;
}
footer .bottom .one { 
	width: 375px;
	height: 70px;	
	display: inline-block;
}
footer .bottom .two {
	width: 375px;
	height: 70px;
	display: inline-block;
	position: relative;
}
footer .bottom .two .case{
	top: 48px;
    left: 137px;
	position: absolute;
}
footer .bottom .two .case i {
	width: 27px;
	height: 10px;
	color:#c6c6c6;
}
footer .bottom .two:nth-child() {

}
footer .bottom .three {
	width: 375px;
	height: 70px;	
	display: inline-block;
}