* {
    margin: 0;
    padding: 0; 
    outline: none;
    font-family: Arial;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1375px;
    margin: 25px auto;
}

header div {
    display: flex;
    align-items: center;
}
.text{
  margin-left: 13px;
    font-size: 27px;
    letter-spacing: 0.68px;
    font-weight: 300;

}
.b{
    font-size: 27px;
    letter-spacing: 0.68px;
    color: #f16d7f;
}

.br{
    margin-left: 37px;
}

.qw{
    
background-color: #cdcdcc;
    border: solid #cdcdcc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    color: #222;
}

.er{
        border: none;
    border-right: 1px solid grey;
    padding: 7px;
}

.rt{
    
   background-color: #F16D7F;
    border: solid #F16D7F;
    color: white;
    font-size: 15px;
    letter-spacing: 0.03em;
    padding: 5px;
 
}

.head_cont{
    height: 50px;          

}
.head_cont nav{
    padding: 15px 0;
    margin: 0 auto;
    width: 876px;
    height: 16px;
    text-align: center;
}
.head_cont nav li{
    color: black;
    font-size: 14px;
    list-style-type: none;
    padding: 0 30px;
    float: left;
}

.reh{
    height: 650px;
    background-image: url(Clip.png);
    position: relative;
}
.lopost{
margin-top: 276px;
margin-left: 236px;
}
.brand{
font-family: Lato-Black;
font-weight: normal;
font-size: 59.95px;
letter-spacing: 0.03em;
line-height: 71.93px;

}


.of {
    font-size: 40px;
}
.re {
    padding-left: 10px;
    font-size: 40px;
    color: #F16D7F;
}


.cat{
    height: calc(1020px - 196px);
    width: calc(100% - 460px);
    padding: 98px 230px;
}
.cl1{
    height: 542px;
    width: 560px;
    background: url(Clip1.png)
}

.clone{
    float: left;
    width: calc(110% - 10px);
    margin-right: 10px;
    height: 100%;
}
.wer{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
}

.rty{
      color: #F16D7F;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
}
.as{
    background-color: white;
    width: 175px;
    height: 67px;
    padding-top: 15px;
}

.clone2{ 
    margin-left: 550px;
    height: 235px;
    width: 100%;
    background-repeat: no-repeat;
}

.cl2{
       background: url(Clip2.png); 
    height: 235px;
}

.poi{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
}

.uyt{
      color: #F16D7F;
    font-weight: bold;
    padding: 15px;
    font-size: 30px;
}

.ass{
    background-color: white;
    width: 175px;
    height: 67px;
    padding-top: 15px;
}
.three{
    height: calc(1020px - 30px);
    width: calc(100% - 460px);
    padding: 15px 230px;
}
.three_c{
    width: 100%;
    height: 100%;
}
.tc_fetured{
    font-size: 30px;
    font-weight: bold;
}
.tc_shopfor{
    font-size: 14px;
    color: #9F9F9F;
}
.three_text{
    text-align: center;
}
.block_img{
    margin: 0;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.slider {
    width: 100%;
    height: 746px;
    background: white;

}    
.slider li {
    width: 260px;
    height: 280px;
    list-style-type: none;
}
.slider li img{
    width: 260px;
    height: 280px;
}
 
.gallery_item {
    position: relative;
    background: center url(Add%20to%20cart.png) #3A3838;
    display: block;
    background-repeat: no-repeat;
    width: 260px;
    height: 280px;
    float: left;
}
.slider li:hover {
    opacity: 0.1;
}
.gallery_item:hover .bottom_img{
    box-shadow: 0 5px 8px rgba(0,0,0,0.16);
}

.bottom_img{
    height: 60px;
    width: 240px;
    background-color: white;
    padding: 10px;
    font-weight: bold
}
.mango_pt{
    font-size: 13px;
}
.price{
    font-size: 16px;
    color: #F16D7F;
}
.olegrova{
    color: #f16d7f;
}
