
* {
    margin: 0;
    padding: 0;
    outline: none;
}

.lopost{
    width: 184px;
    height: 21px;  
}



.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.header{
    padding-top: 63px;
}
.menu{
    float: right;
}
.padding-site{
    padding-left: 98px;
    padding-right: 98px;
}

.container{
    width: 1366 px;
    margin: 0 auto;
}
.slyder{
    height: 500px;
    position: relative;
}
.menu-list{
    list-style-type: none;
    float: left;
    margin-top: -13px; 
}
.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}
.menu-link-a{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.qw{
    font-size: 62px;
    padding: 95px 0 ;
    float: left;
}

.header{
    height: 360px;
    background-color: #E0E0E0;
}

.menu2{
     padding: 0 98px;
}
.menu-lis{
    list-style-type: none;
    float: left;
    margin-top: -13px; 
}
.menu-lin{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 13px;
}


.zadniza{
    width: 1366px;
    padding: 55px 0;
}
.aleqrova{
    padding: 0 98px;
}

.jah{
    background-image: url(promo-img1.png);
    float: left;
    width: 50%;
    height: 683px;
}

.brand{
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;
}
.of{
    color: #212121;
    font-size: 36px;
    margin: 10px -3px;
}
.re{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.jao{
     width: 1170px;
    height: auto;
    padding: 200px 10px 20px 98px;
}

.pol{
     padding: 13px 0px;
    background-color: white;
    width: 212px;
    border-radius: 22.5px;
}

.tru{
    background-image: url(promo-img.png);
    float: right;
    width: 50%;
    height: 683px;
}






}
.footer{
    padding: 115px 98px;
    height: 230px;
}
.footer1{
    width: 1170px;  
}
.bitch{
    float: left;
    width: 270px;
}

.bi{
    color: #6C6C6C;
    font-size: 18px;
}

.bit{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;   
}

.bitches{
    float: left;
    width: 470px;
}


.won{
    float: left;
    width: 370px;   
}


.goq{
    float: right;   
}

.text{
    height: 17px;
    width: 370px;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}


