@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Montserrat;
    margin: 0 auto;
    margin-top: 20px;

    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#separator {
    width: 100%;
    margin: 10px 0;
}

a {
    color: #700000;
}

a:hover {
    text-decoration: none;
}

.menu {
    font-size: 15px;
    font-weight: bold;
    margin-top: 25px;
}

.menu a {
    text-decoration: none;
    color: black;
    
    padding: 10px;

    border-radius: 10px;

    transition: color 0.20s, background-color 0.20s;
}

.menu a:hover {
    color: white;
    background-color: black;
}

.menu a:active {
    color: black;
    background-color: grey;
}

.menu .act {
    background-color: black;
    color: white;
}

#home::before {
    font-family: FontAwesome;
    content: "\f015";
    margin-right: 5px;
}

#forum::before {
    font-family: FontAwesome;
    content: "\f0a1";
    margin-right: 5px;
}

#donate::before {
    font-family: FontAwesome;
    content: "\f0d6";
    margin-right: 5px;
}

#shop::before {
    font-family: FontAwesome;
    content: "\f291";
    margin-right: 5px;
}

#ban-list::before {
    font-family: FontAwesome;
    content: "\f05e";
    margin-right: 5px;
}

#rules::before {
    font-family: FontAwesome;
    content: "\f0ca";
    margin-right: 5px;
}

#help::before {
    font-family: FontAwesome;
    content: "\f059";
    margin-right: 5px;
}

#time {
    color: #4c4c4c;
    margin-bottom: 10px;
}

#time::before {
    font-family: FontAwesome;
    content: "\f017";
    margin-right: 5px;
}

#play {
    width: 100%;

    border-radius: 20px;

    font-weight: bold;

    text-decoration: none;

    color: white;
    background-color: #700000;
    transition: background-color 0.20s;

    display: block;

    padding: 20px 0;

    font-size: 22px;
}

#play:hover {
    background-color: #4f0000;
}

#play:active {
    background-color: #350000;
}

.border_container {
    background-color: #e5e5e5;

    border-radius: 20px;

    box-sizing: border-box;
}

.btn {
    cursor: pointer;

    text-decoration: none;

    font-weight: bold;

    background-color: #700000;

    color: white;

    padding: 10px;
    
    border: none;
    border-radius: 20px;

    transition: background-color 0.20s;
}

.btn:hover {
    background-color: #4f0000;
}

.btn:active {
    background-color: #350000;
}

.content {
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}

.content .left_side {
    width: 65%;
    margin: 10px;
}

.content .right_side {
    text-align: center;

    width: 35%;
    margin: 10px;
}

.article {
    width: 100%;

    box-sizing: border-box;
    
    padding: 20px;
}

.auth {
    padding: 25px 0;
}

.auth h2 {
    margin: 0;
    margin-bottom: 10px;
}

.input_text {
    font-family: Montserrat;

    padding: 10px;

    border: 1px solid white;

    border-radius: 20px;

    margin: 5px 0;
    transition: border 0.20s;

    width: 75%;
}

input:focus {
    border: 1px solid #700000;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}

.sale h2 {
    margin: 0;
    margin-bottom: 20px;
}

.sale_box {
    background-color: #bcbcbc;

    padding: 10px;
}

.sale_box b {
    font-size: 21px;
    color: #700000;
}
