 h1{ 
        color: whitesmoke;
        text-align: center;
        font-family: Georgia;
        font-size: 42px;
        font-style: italic;
        font-weight: lighter;
    }
.head {
    color:white;
    font-size: 14px;
    font-family: Georgia;
    font-style: italic;
    text-align: right;
    float: right; 
    margin: 0 0 5px 5px;
}
.st{
     color:white;
    text-align: end;
    font-family: Georgia;
    font-style: italic;
     font-size: 18px;
}