

.brows-content a:hover {background-color: #ddd;}
.dr:hover .brows-content {display: block;}

.acc-content a:hover {background-color: #ddd;}
.account:hover .acc-content {display: block;}




body, html{
  max-width: 100%;
}


    
.product {
   width: 1590px;
height: 3259px;

}
.cont_ch1 {
    width: 1590px;
    height: 151px;
    background: transparent;
}
.head_ch1 {
   width: 1590px;
height: 100px;
background: #fff;
border: 1px solid #ececec;

}
.logo {
    margin-top: 25px;
    margin-left: 225px;
}
.brand {
    margin-top:  -37px;
    margin-left: 296px;
}
.search {
    width: 403px;
    height: 39px;
    background: transparent;
    margin-top: -45px;
    margin-left: 445px;
}
.brow {
    width: 87px;
    height: 38px;   
    border-radius: 3px 0px 0px 3px;
    background: linear-gradient(#f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    padding-left: 40px;

}
.text111 {
    font-family: Lato-Light;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-align: left;
    color: #222;
    margin-left: -23px;
    margin-top: 0px
}
.brows-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 7%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.brows-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.for {
    margin-top: -38px;
    margin-left: 87px;
}
.but_o {
    width: 317px;
    height: 34px;
    border-radius: 0px 3px 3px 0px;
    background: #fff;
    border: 1px solid #e6e6e6;

}
.palka {
    width: 1px;
    height: 38px;
    background: #e8e8e8;
    margin-top: 40px;
    margin-left: 200px;
}
.korzina {
    margin-top: -39px;
    margin-left: 1197px;
}
.account {
    width: 130px;
height: 38px;
background: transparent;
    margin-top: -38px;
    margin-left: 1257px;
}
.acc {
    width: 130px;
    height: 38px;
    background: #f16d7f;
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-align: left;
    color: #fff;
    padding-left: 22px;
}
.acc-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 7%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.acc-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.cont_ch2 {
    width: 1000px;
    height: 51px;
    background: transparent;
    margin-top: 31px;
    margin-left: 403px;
}
.men-n {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
    list-style-type: none;
    margin-left: 33px;
    margin-top: -41px;
      text-decoration: none;
}

.cont_ch2 a{
    color:#222;
      text-decoration: none;
}
.cont_ch2 a:hover {
    color: #000;
    border-bottom: 3px solid #ef5b70;

}


.menu-li {
   font-family: Lato-Bold;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    color: #222;
    float: left;
    margin: 13px;
    
}
.block_ttwo {
    width: 1590px;
    height: 148px;
    background: #f8f3f4;
   margin-top: -80px;
}
.arrivals {
    font-family: Lato-Black;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-align: left;
    color: #f16d7f;
    margin-top: -110px;
    margin-left: 225px;

}
.men {
    font-family: Lato-Light;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: left;
color: black;
    margin-top: -42px;
    margin-left: 598px;

}
.new_ar {
    font-family: Lato-Light;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #f16d7f;
    margin-top: -34px;
    margin-left: 1094px;
}


.str_menu {
    width: 260px;
    height: 598px;
    background: transparent;
    margin-left: 230px;
    margin-top: 118px;

}

.category {
    width: 260px;
    height: 505.4px;
    background: transparent;

}
.m_palka {
    width: 5px;
    height: 37px;   
    background: #ef5b70;
    margin-top: 20px;
}
/*..............*/
.dropdown {
   
    position: relative;
    display: inline-block;
}

.cat {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #ef5b70;
    margin-left: 18px;
    padding-top: 6px;
}
.desk {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #ef5b70;
    margin-left: 18px;
    margin-top: 8px;
}
button {
    outline: none;
}
.chert {
    width: 243px;
    height: 0px;
    background: #e8e8e8;
    border: 1px solid #ebebeb;
    margin-top: 10px;
}
.chert3 {
    width: 243px;
    height: 0px;
    background: #e8e8e8;
    border: 1px solid #ebebeb;
    margin-top: -5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    outline: none;
} 
.dropdown-content a :hover {
    text-decoration: none;
}
.dropdown-content a {
   color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.bags-content a:hover {background-color: #fff;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .cat {background-color: #fff;}



.rand {
    font-family: Lato-Bold;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: left;
color: #6f6e6e;
margin-left: 18px;
    padding-top: 11px;
}
.des {
     font-family: Lato-Bold;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: left;
color: #6f6e6e;
margin-left: 18px;
    padding-top: 11px;
}
.razner {
width: 848px;
height: 169px;
background: transparent;
    margin-left: 522px;
    margin-top: -601px;
}
.mini_block {
    width: 192px;
height: 79px;
background: transparent;

}
.tr_now {
    font-family: Lato-Bold;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: left;
color: #6f6e6e;

}
.lace {
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #6f6e6e;

}
.size {
    width: 205px;
height: 80px;
background: transparent;
margin-left: 270px;
    margin-top: -93px;
}
.si {
    font-family: Lato-Bold;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: left;
color: #6f6e6e;

}
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
  }

.custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }
.custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

.custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
  }

.custom-radio:checked+label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

.custom-radio:disabled+label::before {
    background-color: #e9ecef;
  }
.price {
    width: 263px;
    height: 80px;
    background: transparent;
    margin-left: 530px;
    margin-top: -93px;
}
.sot {
    width: 846px;
    height: 50px;
    background: #f3f3f3;
    margin-top: 40px;
}
.by2 {
   
    width: 66px;
    height: 34px;   
    border-radius: 0px 0px 0px 3px;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    margin-left: 9px;
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #6f6e6e;

}
.by3 {
    width: 87px;
    height: 34px;   
    border-radius: 3px 0px 0px 3px;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: -50px;
    margin-left: -1px;
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #6f6e6e;
}
.show {
    width: 119px;
height: 30px;
    margin-top: -44px;

}
.sh2 {
    width: 50px;
    height: 34px;   
    border-radius: 0px 0px 0px 3px;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: 10px;
    margin-left: 9px;
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #6f6e6e;

}
.sh3 {
    width: 69px;
    height: 34px;   
    border-radius: 3px 0px 0px 3px;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin-top: -50px;
    margin-left: -1px;
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
line-height: 26px;
text-align: left;
color: #6f6e6e;
}
.mng_photo {
    width: 848px;
    height: 1164px;
    background: transparent;
    margin-left: 522px;
    margin-top: 47px;
}
.cel_ph1 {
    width: 263px;
    height: 364px;
    background: transparent;

}
.t-sh {
    font-family: Lato-Regular;
font-weight: normal;
font-size: 13px;
line-height: 15.6px;
text-align: left;
color: #6f6e6e;
    padding-left: 14px;


}
.pop1 {
    font-family: Lato-Bold;
font-weight: normal;
font-size: 16px;
line-height: 19.2px;
text-align: left;
color: #f16d7f;
 padding-left: 14px;
  
}
.cel_ph2 {
    width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 293px;
    margin-top: -364px;
}
.cel_ph3 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 586px;
    margin-top: -364px;
}
.cel_ph4 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 0px;
    margin-top: 38px;
}
.cel_ph5 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 293px;
    margin-top: -364px;
}
.cel_ph6 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 586px;
    margin-top: -364px;
}
.cel_ph7 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 0px;
    margin-top: 38px;
}
.cel_ph8 {
     width: 263px;
    height: 364px;
    background: transparent;
    margin-left: 293px;
    margin-top: -364px;
}
.nymer {
   width: 261px;
    height: 44px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #ebebeb;
    margin-left: 0px;
    margin-top: 48px;
}
.two-n {
    width: 847px;
height: 44px;
background: transparent;
margin-left: 522px;
}

.ch22 {
    margin-left: -10px;
    margin-top: 10px;
}
.chhhy {
    font-family: Lato-Light;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #c4c4c4;
    padding-left: 10px;
    text-decoration: none;  
}
.chhhy a :hover {
    color:  #ef5b70;
}
.vn {
    margin-left: 700px;
    margin-top: -45px;
}
.view {
    width: 150px;
height: 44px;
border-radius: 3px;
background: #fff;
border: 1px solid #ef5b70;

}
.aal_v {
    font-family: Lato-Light;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #ef5b70;
    margin-top: 6px;
;
}
.fon-cher {
    width: 1590px;
    height: 341px;
    background: #222224; 
    margin-top: 197px;
    margin-left: 0px;
}
.gryzovik {
    width: 332.59px;
    height: 207.35px;
    background: transparent;
    margin-left: 244px;
    margin-top: 84px;
}
.gr {
    margin-top: 84px;
    margin-left: 146px;
}
.deliv {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 19.96px;
    letter-spacing: 0.03em;
    line-height: 23.95px;
    text-align: center;
    color: #fbfbfb;
   
}
.aut {
    font-family: Lato-Light;
    font-weight: normal;
    font-size: 13.97px;
    letter-spacing: 0.03em;
    line-height: 23.95px;
    text-align: center;
    color: #fbfbfb;
   padding-left: 13px;
} 
.gryzovik12 {
    width: 332.59px;
    height: 207.35px;
    background: transparent;
    margin-left: 640px;
    margin-top: -215px;
}
.gryzovik123 {
    width: 332.59px;
    height: 207.35px;
    background: transparent;
    margin-left: 1034px;
    margin-top: -203px;
}
.block_6 {
    width: 1290px;
    height: 975px;
    background: transparent;
    margin-top: 0px;
    margin-left: 0px;
}
.photoo {
    width: 1590px;
    height: 438px;
    background: url(product.img/Rectangle%209.png);

}
.fonn {
     width: 1590px;
    height: 438px;
    background: url(product.img/Rectangle%209%20copy.png);
}
.ramka {
    width: 1048px;
    height: 226.13px;
    background: transparent;
    padding-top: 111px;
    margin-left: -564px;
}
.tetka {
    width: 83px;
    height: 83px;
    background: url(product.img/Ellipse%203.png);

}
.text_mn{
    padding-left: 111px;
    margin-top: -98px;
}
.slova {
    width: 425.78px;
    height: 217.33px;
    font-family: Lato-Italic;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: left;
    color: #222224;
}
.bin {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: left;
     color: #f16d7f;
    margin-top: -144px;
    padding-left: 2px;

}
.haka {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: left;
    color: #222224;
    padding-left: 2px;
    margin-top: -14px;
}
.palka2 {
    width: 1px;
    height: 438px;
    background: #fff;
    margin-left: 799px;
}
.sub {
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    color: #222224;
    margin-top:  -144px;
    margin-left: 658px;
}
.promo {
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    color: #222224;
    margin-top: -21px;
    margin-left: 662px;
}
.enter {
    width: 386px;
    height: 46px;
    background: transparent;

}
.your {
    width: 334px;
    height: 40px;
    border-radius: 23px;
    background: #e1e1e1;
    margin-left: 661px;
    margin-top: -20px;
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 14px;
    line-height: 54px;
    text-align: left;
    color: #222224;

}

.knopka { 
    margin-top: -46px;
    margin-left: 953px;
}
.ghg {
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 14px;
    line-height: 54px;
    text-align: center;
    margin-top: -7px;
    padding-left: 0px;
}
.subd {
    font-family: Lato-Regular;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.03em;
line-height: 54px;
text-align: center;
color: #fff;
margin-top: -54px;
    margin-left: 20px;
}
.subd a {
    text-decoration: none;
}
.posled_block {
    width: 1590px;
    height: 538px;
    background: transparent;
    margin-top: -0px;
     margin-left: 0px;
}
.log2 {
    width: 162.61px;
    height: 51px;
    background: transparent;
    margin-top: -410px;
    margin-left: 225px;
}
.bra {
    margin-left: 3px;
}
.p_text {
    width: 430.47px;
height: 222.67px;
font-family: Lato-Light;
font-weight: normal;
font-size: 14px;
letter-spacing: 0.03em;
line-height: 24px;
text-align: left;
color: #898989;
    margin-top: 30px;
    padding-left: 225px;

}
.com_spisok {
    width: 100px;
    height: 374px;
    background: transparent;
    margin-top: -311px;
    padding-left: 719px;
}
.com {
    font-family: Lato-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-align: left;
    color: #f16d7f;
    margin-bottom: 34px
}
.str {
    font-family: Lato-Regular;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 59px;
    text-align: left;
    color: #898989;
    margin-top: -18px;

}
.info_spisok {
    margin-top: -393px;
    padding-left: 949px;
}
.shop_spisok {
     margin-top: -346px;
    padding-left: 1173px;
}
.footer {
    width: 1590px;
height: 79px;
background-color: #f8f8f8;
 margin-left: 0px;
}
.reser {
    font-family: Lato-Regular;
font-weight: normal;
font-size: 16px;
letter-spacing: 0.03em;
line-height: 42px;
text-align: left;
color: #7a7a7a;
    padding-left: 225px;
    padding-top: 27px;
}
}