@font-face {
    font-family: "MontL"; 
    src: url("../font/Montserrat-Light.ttf");
    font-family: "MontB"; 
}
@font-face {
    font-family: "MontB"; 
    src: url("../font/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "MontM"; 
    src: url("../font/Montserrat-Medium.ttf");
}

*{
    outline: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 1366px;
    font-family: "MontL";

}

a{
    text-decoration: none;
}

/*шапка*/
.header{
    height: 30px;
    width: 1170px;
    padding: 60px 98px 0 98px;
    background-color: #F2F1F2
}

nav{
    color: #8C8C8C;
    font-family: "MontB";
    margin-top: -15px;
    height: 30px;
    float: right;
}
nav ul a{
    color: #8C8C8C;
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
nav ul a:hover{
    border-bottom: 3px solid #212121;
}

.title_cont2 span:hover{
    border-bottom: 3px solid #212121;
}

/*Первый контейнер*/
.conteiner1{
    width: 1366px;
    height: 710px;
    background-image: url(../images/product-19.png);
}
.block_zelen{
    height: 405px;
    padding: 305px 0 0 98px;
}
button span{
    letter-spacing: 3px;
    font-size: 18px;
    font-family: MontB;
}
button{
    width: 212px;
    height: 45px;
    background-color: white;
    border-radius: 22.5px;
    border: none;
    margin-bottom: 150px;
    box-shadow: 0 2px 5px #21212135;
}
button:hover{
    box-shadow: 0 0 5px #21212135;
}

.perehod{
    height: 40px;
    margin-left: calc(50% - 106px);
}
.p1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    background-color: #21212120;

}
.p2{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
    background-color: #212121;
    margin: -5px 10px;
}

/*Второй контейнер*/
.conteiner2{
    width: 1185px;
    height: 390px;
    padding: 120px 98px;
}
.pictures img{
    height: 270px;
    width: 270px;
}
.pictures{
    margin: 0;
    margin-top: 70px;
    float: left;
}
.pictures_img{
    height: 270px;
    width: 270px;
    float: left;
    margin-right: 30px
}

.circle{
    margin-left: calc(50% - 24px);
    background-color: #fff;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    box-shadow: 0 2px 5px #21212135;
}
.gallery{
    float: left;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 270px;
}
.cover-bg{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover-bg {
    background: #fff;
    opacity: 0.8;
    border: 1px solid #707070;
}
.cover-title {
    color: #6C6C6C;
    font-size: 14px;
    text-align: center;
    font-family: "MontM"
}

/*Третий контейнер*/
.conteiner3{
    width: 1366px;
    height: 683px;
    font-family: MontM;
    margin-bottom: 110px;
}
.odin_na_dva{
    float: left;
    width: 50%;
    height: 683px;
    background-image: url(../images/product-17.png) 
}
.odin_na_dva1{
    float: right;
    width: 50%;
    height: 683px;
    background-image: url(../images/product-16.png) 
}
.conteinerL{
    height: 58px;
    width: 470px;
    padding: 0px 52px;
    margin-top: 192px;
}
.golubou{
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;
}
.nazvanie_1{
    color: #212121;
    font-size: 36px;
    margin: 10px -3px;
}
.nazvanie_2{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}

/*Четвертый контейнер*/
.conteiner4{
    width: 1185px;
    height: 970px;
    padding: 0 98px 120px 98px;
}
.pictures2 img{
    outline: 1px solid #70707040;
    height: 370px;
    width: 370px;
}
.pictures2{
    margin: 0;
    margin-top: 70px;
    float: left;
}

/*Пятый контейнер*/
.conteiner5{
    width: 1366px;
    height: 710px;
    background-image: url(../images/product-18.png);
    margin-bottom: 110px;
}
.block_red{
    height: 455px;
    padding: 255px 0 0 98px;
}

/*Шестой контейнер*/
.conteiner6{
    width: 1170px;
    height: 576px;
    padding: 0px 98px;
    margin-bottom: 110px
}
.odin_na_dva3{
    width: 560px;
    margin-right: 15px;
    height: 100%;
    background-size: cover;
    float: left;
    background: right url(../images/product-7.png) #E9E9E9;
    background-repeat: no-repeat;
}
.odin_na_dva4{
    width: 580px;
    margin-left: 15px;
    height: 100%;
    float: right;
}
.odin_na_dva4 img{
    height: 270px;
    width: 270px;
}

/*Седьмой контейнер*/
.conteiner7{
    width: 1170px;
    height: 287px;
    padding: 140px 98px 0 98px;
    background-image: url(../images/product-20.png);
    background-repeat: no-repeat;
}


/*Футтер*/
.footer{
    width: 1170px;
    height: 304px;
    padding: 80px 98px 0 98px;
    font-family: MontM;
    background-color: #F7F7F7;
}
.fotter_na_dva1{
    width: 1170px;
    height: 165px;
    margin-bottom: 80px;
}

.colonca_1{
    float: left;
    width: 270px;
    height: 163px;
    margin-right: 30px;
}
.colonca_2{
    float: left;
    width: 470px;
    height: 163px;
    margin-right: 30px;
}
.colonca_3{
    float: left;
    width: 370px;
    height: 163px;
}
.zagolovoc_colonci{
    color: #6C6C6C;
    font-size: 18px;
}
.perviu_text_colonci{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;
}
.perviu_text_colonci2{
    float: right;
    letter-spacing: 1px;
    line-height: 1.8;
}
.perviu_text_colonci3{
    color: #212121;
    font-size: 14px;
}
.email{
    height: 22px;
    width: 370px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}
.text_email{
    margin-top: 1px; 
    color: #212121;
    font-size: 14px;
}

.stroca_1{
    float: left;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.stroca_1 p {
    font-size: 12px;
    color: #6C6C6C;
}
.stroca_2{
    float: left;
    width: 10%;
    height: 20px;
    margin-top: -10px; 
}
.stroca_2 p {
    text-align: center;
    font-size: 31px;
    color: #6C6C6C;
}
.stroca_3{
    float: right;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.stroca_3 p {
    text-align: right;
    font-size: 12px;
    color: #6C6C6C;
}





