@font-face {
    font-family: "MontL"; 
    src: url("../font/Montserrat-Light.ttf");
    font-family: "MontB"; 
}
@font-face {
    font-family: "MontB"; 
    src: url("../font/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "MontM"; 
    src: url("../font/Montserrat-Medium.ttf");
}

*{
    outline: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 1366px;
    font-family: "MontL";

}

a{
    text-decoration: none;
}

/*шапка*/
.header{
    height: 360px;
    width: 1170px;
    padding: 60px 98px 0 98px;
    background-color: #F5F5F5;
    margin-bottom: 50px;
}

nav{
    color: #8C8C8C;
    font-family: "MontB";
    margin-top: -15px;
    height: 30px;
    float: right;
}
nav ul a{
    color: #8C8C8C;
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
nav ul a:hover{
    border-bottom: 3px solid #212121;
}
/*Первый контейнер*/
.conteiner1{
    width: 1200px;
    height: 370px;
    padding: 70px 98px 120px 98px;
}
.block_2_in3{
    text-align: center;
    outline: 1px solid #9C9C9C;
    height: 320px;
    width: 370px;
    padding-top: 50px;
    float: left;
    margin-right: 30px;
}



/*Футтер*/
.footer{
    width: 1170px;
    height: 304px;
    padding: 80px 98px 0 98px;
    font-family: MontM;
    background-color: #F7F7F7;
}
.fotter_na_dva1{
    width: 1170px;
    height: 165px;
    margin-bottom: 80px;
}

.colonca_1{
    float: left;
    width: 270px;
    height: 163px;
    margin-right: 30px;
}
.colonca_2{
    float: left;
    width: 470px;
    height: 163px;
    margin-right: 30px;
}
.colonca_3{
    float: left;
    width: 370px;
    height: 163px;
}
.zagolovoc_colonci{
    color: #6C6C6C;
    font-size: 18px;
}
.perviu_text_colonci{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;
}
.perviu_text_colonci2{
    float: right;
    letter-spacing: 1px;
    line-height: 1.8;
}
.perviu_text_colonci3{
    color: #212121;
    font-size: 14px;
}
.email{
    height: 22px;
    width: 370px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}
.text_email{
    margin-top: 1px; 
    color: #212121;
    font-size: 14px;
}

.stroca_1{
    float: left;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.stroca_1 p {
    font-size: 12px;
    color: #6C6C6C;
}
.stroca_2{
    float: left;
    width: 10%;
    height: 20px;
    margin-top: -10px; 
}
.stroca_2 p {
    text-align: center;
    font-size: 31px;
    color: #6C6C6C;
}
.stroca_3{
    float: right;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.stroca_3 p {
    text-align: right;
    font-size: 12px;
    color: #6C6C6C;
}






