a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.conteiner{
    width: 1336px;
    height: 3010px;
    background: transparent;
}
.block_one{
    width: 1336px;
    height: 376.68px;
    background: transparent;
}
.block_one a:hover {
    color: #000;
    border-bottom: 3px solid black;
}
.spis a:hover {
    color: #000;
    border-bottom: 3px solid black;
}
.block_onee{
    width: 1519px;
    height: 360px;
    background: #f5f5f5;
    margin-top: -8px;
    margin-left: -8px;
}
.verh{
    width: 1519px;
    height: 90px;
    background: transparent;
    background: #f9f9f9;
}
.logo{
    padding-top: 64px;
    margin-left: 98px;
}

.menu{
    list-style-type: none;
    text-decoration: none;
    margin-top: -51px;
    margin-left: 757px;
}
.li{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: right;
    color: #8c8c8c;
    float: left;
    margin: 13px;
}


.search{
    padding-top: 29px;
}
.text_per{
    width: 1170px;
    height: 132.51px;
    font-family: Montserrat-Thin;
    font-weight: normal;
    font-size: 62px;
    line-height: 72px;
    text-align: left;
    color: #212121;
    margin-top: 154px;
    margin-left: 98px;
}
.block_two{
    width: 1336px;
    height: 139px;
    background: transparent;
}

.spis{
    width: 694.74px;
    height: 38.75px;
    background: transparent;
    margin-left: 37px;

}
.l{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 21.6px;
    text-align: left;
    color: #6c6c6c;
    list-style-type: none;
    text-decoration: none;
    float: left;
    margin: 13px;
    padding-left: 5px;
}

.block_three{
    width: 1366px;
    height: 1837px;
}
.cfrt_1{
    width: 1366px;
    height: 1711.8px;
    background: transparent;
}
.on_bl{
    width: 1366px;
    height: 770px;
    background: transparent;

}
.verh_str{
   margin-top: -71px;
    margin-left:94px;
}
.prod{
    margin-right: 26px;
    margin-bottom: 26px;
    border: 1px solid #c6c6c6;
}
.tw_bl{
    margin-top: 129px;    
    }
.niz_str{
    margin-top: -71px;
    margin-left:94px;
}
.ebd{
    width: 28px;
    height: 56px;
    background: transparent;
    margin-top:28px;
    margin-left:672px;

}
.block_four{
    width: 1369px;
    height: 686px;
    background: transparent;
}
.kr_styl{
    width: 686px;
    height: 686px;
    background: transparent;
    margin-left: -8px;
}
.svg{
    margin-top: -481px;
    margin-left: 50px;
}
.fish{
    width: 399.97px;
    height: 86.67px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
    margin-left: 50px;
}
.seat{
    width: 399.97px;
    height: 58.07px;    
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.99px;
    line-height: 23.98px;
    text-align: left;
    color: #6c6c6c;
     margin-left: 50px;
}
.bt{
    width: 211.84px;
    height: 45.06px;
    background: transparent;
    margin-left: 50px;
}
.buut{
    background-color: white;
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px rgba(33, 33, 33, 0.35));
    position: relative;
    background: #fff;

}
.order{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-left: 4px;
}
.arr{
    padding-left: 29px;
}
.styl_2{
    float: right;
    margin-top: -686px;
    margin-right: 5px;
}
.block_five{
    width: 1366px;
    height: 384px;
    background: transparent;
    background: #f7f7f7;
    margin-left: -8px;
}
.contact{
    margin-left: 98px;
    padding-top: 116px;
}
.us{
    width: 270px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.con{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.cons{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;
    margin-bottom: 8px;
}
.i{
    margin-bottom: 8px;
}
.useful{
    width: 470px;
    height: 162.61px;
    background: transparent;
    margin-left: 398px;
    margin-top: -150px;
}
.usef{
    width: 470px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.sales{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.accoun{
    margin-left:221px;
    margin-top:-125px;
}
.carr{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.lets{
    width: 370.19px;
    height: 48px;
    background: transparent;
    margin-left:890px;
    margin-top:-164px;
}
.let{
    width: 370px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.know{
    width: 370px;
    height: 60.96px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.posled{
    width: 370px;
    height: 48px;
    background: #fff;
    border: 1px solid #d9dee1;
    margin-top:17px;
}
.email{
    width: 370.19px;
    height: 31.95px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #6c6c6c;
    margin-top:10px;

}
.footer{
    margin-left:90px;
    margin-top:-50px;
}
.copy{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #6c6c6c;
}
.toyy{
     margin-left:896px;
    margin-top:-26px;
}
.term{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: right;
    color: #6c6c6c;
}
.sam{
    margin-left: 328px;
    margin-top: -38px;
}
.icon{
    margin-left: 644px;
    margin-top: -28px;
}