*{
	margin: 0px;
	padding: 0;
	font-family: Montserrat;

}
:root {
    --primary-color: #212121;
    --size-box1:72px;
}


header {
	width: 1249px;
	height: 360px;
	background: #f5f5f5;
	padding: 50px 0 0 100px;

}

header .logo{
	display: inline-block;
	float: 	left;
	margin-top: 16px;	

}
.line {
	height: 50px;
	width: 1100px;	
	
}

.nav {
	width: 100%;
}

.nav-bar{
	margin-left: calc(185px + 375px);
	position: relative;
}
.menu-link:nth-child(1) {
	left:0px;
}

.menu-link:nth-child(2) {
	left:  calc( 72px);
}
.menu-link:nth-child(3) {
	left: calc(72px + 93px + 28px);
}
.menu-link:nth-child(4) {
	left: calc(72px + 93px + 126px);
}
.menu-link:nth-child(5) {
	left: calc(72px + 93px + 126px + 100px + 28px );
}

.line .search {
	position: absolute;
	left: calc(72px + 93px + 126px + 100px + 92px + 28px);
	top:15px;
}





.menu-link{
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.1em;
	color: var(--primary-color);
	text-transform: uppercase;
	text-decoration: none;
    position: absolute;
    top:16px;
}
.menu-link::after{
	content: '';
	display: block;
	margin-top: 5px;
	width: 0px;
	height: 3px;
	background-color: var(--primary-color);
	transition:  .4s;
	transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(1, -0.01, 0, 1.1);
    transition-delay: 0s;
}
.menu-link:hover::after{
	width: 100%;
	transition:  .4s;
	transition-property: all;
    transition-duration: 0.9s;
    transition-timing-function: cubic-bezier(0.23, -0.31, 0.1, 1.43);
    transition-delay: 0s;
}
.menu-link:hover{
	font-weight: 900;
}


.slogan h1 {
	width: 1170px;
	margin-top: 160px;
	font-family: Montserrat;
	font-weight: 100;
	font-size: 62px;
	line-height: 72px;
	text-align: left;
	color: #212121;

}













/*--------------------------------------album*/
.album {
	width: 1249px;
	height: 1900px;
	padding: 65px 0 0 100px;
}
.album .nav-bar{
	margin-left: 0px;
	position: relative;
}





.album .menu-link {
	font-family: Montserrat;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 21.6px;
	text-align: left;
	color: #6c6c6c;

}
.album .menu-link:nth-child(2) {
	left:  calc( 40px + 50px);
}
.album .menu-link:nth-child(3) {
	left: calc(40px + 50px + 66px + 50px);
}
.album .menu-link:nth-child(4) {
	left: calc(40px + 50px + 66px + 50px + 80px + 50px);
}
.album .menu-link:nth-child(5) {
	left: calc(40px + 50px + 66px + 50px + 80px
	+ 50px + 125px + 50px );
}
.album .menu-link:nth-child(6) {
	left: calc(40px + 66px + 80px + 125px + 98px + 250px );
}




.album .products {
	width: 1170px;
	height: 1683px;
	margin-top: 80px;

}




.container3_3{
	margin-bottom: 30px;
	letter-spacing: -0.3em;
}

.container4_4 {
	letter-spacing: -0.3em;
}

.container6_6{
	position: relative;	
}

.product-21{
	margin: 0 30px 0 30px;
}

.product-5 {
	margin: 0 30px 0 30px;
}

.container6_6 img.product-8{
	width: 1366px;	
	height: 800px;
	position: absolute;
}

.container6_6 .content{	
	position: absolute;
	left:99px;
	top:285px;
}
.album .void {
	height: 30px;
}









/*--------------------------------------exclusive*/
.exclusive .content {
	height: 686px;
	width: 100%;
	position: relative;
}
.exclusive .content .left{
	height: 686px;
	width: 50%;
	position: absolute;
	background-image: 
	url(../../img/promo-product-1.jpg);
}
.exclusive .content .right{
	height: 686px;
	width: 50%;
	position: absolute;
	left:50%;
	background-image: 
	url(../../img/promo-product-2.jpg);
}
.content .center{
	margin: 225px 0px 255px 52px;
	height: 206px;
}
 .slyder-trending {
	color: #1E88E5;
}
.slyder-h2{
	width: 470.34px;
	height: 87px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 36px;
	line-height: 72px;
	text-align: left;
	color: #212121;

}



.slyder-content {
	width: 470.34px;
	height: 57.99px;
	font-family: Montserrat;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	color: #6c6c6c;
}

.slyder-button{
	margin-top:20px;
	width: 212px;
	height: 45px;
	background-color: #fff;
	border-radius:50px;
	border: #fff;
	font-weight: 700;
	font-size: 18px;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
	
}
.slyder-button:hover{
	box-shadow: 3px 3px 11px -5px black;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    
}

 .fa-refresh {
	margin-top: 70px;
	margin-left: 561px;
}







/*-------------------------------footer*/
footer {
	height: 346px;
	width: 1349px;
	background: #f7f7f7;
	/*!important*/
	position: absolute;	
}

footer .top p {
	position: absolute;
	letter-spacing: 0px;
}

footer .content {
	width: 1170px;
	height: 232px;
	margin-left: 98px;
	margin-top: 82px;
}

footer .content .top {
	height: 162px;
	width: 1170px;
	letter-spacing: -0.3em;

}

footer .content .top .top-line{
	height: 42px;

	letter-spacing: -0.3em;
}

footer .content .top .top-line p{
	width: 270px;
	height: 42.48px;
	font-family: Montserrat;
	font-weight: 900;
	font-size: 18px;
	letter-spacing: 0.1em;
	line-height: 24px;
	text-align: left;
	color: #6c6c6c;

}

footer .content .top .one {
	width: 270px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #212121;

} 

footer .content .top .C_U{
	width: 270px;
	height: 167px;
	display: inline-block;

}

footer .content .top .U_I {
	width: 470px;
	height: 162px;
	letter-spacing: -0.3em;
	margin-left: 30px;
	display: inline-block;

}

footer .content .top .U_I .left{
	height: 124px;
	width: 50%;
	
	display: inline-block;

}

footer  .U_I .left p{
	width: 235px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 26px;
	text-align: left;
	color: #212121;
}

footer  .U_I .right p{
	width: 235px;
	height: 124.57px;
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.05em;
	line-height: 26px;
	text-align: left;
	color: #212121;
}

footer .content .top .U_I .right{
	height: 124px;
	width: 50%;
	display: inline-block;

}

footer .content .top .L_S_I_T{
	width: 370px;
	height: 167px;
	margin-left: 28px;
	display: inline-block;

	position: relative;
}

footer .content .top .L_S_I_T .search{
	width: 370px;
	height: 48px;
	background: #fff;
	border: 1px solid #d9dee1;
	position: absolute;
	top: 100px;
}

footer .content .top .L_S_I_T .search p{
	width: 370.19px;
	height: 31.95px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #6c6c6c;
	margin-top: 13px;
	margin-left: 5px;
}
footer .content .top .L_S_I_T .search p i {
	margin-left: 200px;
}

footer .content .top .L_S_I_T .two {
	width: 370px;
	height: 60.96px;
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #212121;
}

footer .content .bottom {
	height: calc(232px - 162px);
	width: 1170px;

	letter-spacing: -0.3em;
}

footer .bottom p{
	font-family: Montserrat;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #6c6c6c;
	margin-top: 50px;	
	position: absolute;
		
}

footer .bottom .line{
	width: 1170px;	
	height: 70px;	
	position: relative;
}
footer .bottom .one { 
	width: 375px;
	height: 70px;	
	display: inline-block;
}
footer .bottom .two {
	width: 375px;
	height: 70px;
	display: inline-block;
	position: relative;
}
footer .bottom .two .case{
	top: 48px;
    left: 137px;
	position: absolute;
}
footer .bottom .two .case i {
	width: 27px;
	height: 10px;
	color:#c6c6c6;
}
footer .bottom .two:nth-child() {

}
footer .bottom .three {
	width: 375px;
	height: 70px;	
	display: inline-block;
}