*{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 1600px;
    height: 4481px;
}
.header{
    width: 1616px;
    height: 151px;
}
body{
    font-family: 'Lato', sans-serif;
}
.browse{
    position: absolute;
    left: 429px;
    top: 32px;
    width: 87px;
    height: 38px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    color: #A4A4A4;
}
.logo{
    position: relative;
    left: 225px;
    top: 25px;
    width: 59px;
    height: 51px;
}
.bran{
    position:absolute;
    left: 298px;
    top: 37px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 27px;
    letter-spacing: 0.03em;
    color: black;
}
.d{
    position: absolute;
    left: 375px;
    top:  37px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 27px;
    letter-spacing: 0.03em;
    color: #f16d7f;
}
input{
    width: 317px;
    height: 36px;
    border-radius: 0px 3px 3px 0px;
    background: #fff;
    border: 1px solid #e6e6e6;
    position: absolute;
    left: 515px;
    top:  32px;
}
.button-search{
    position: absolute;
    left: 832px;
    top: 32px;
    width: 50px;
    height: 38px;
    border: 1px solid #e6e6e6;
}
.basket{
    position: absolute;
    left: 1181px;
    top: 40px;
}
.myacc{
    position: absolute;
    left: 1239px;
    top: 31px;
    width: 130px;
    height: 38px;
    background: #f16d7f;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 32px;
    color: #fff;
}
li{
    display: inline;
    margin-right: 5px;
    padding: 15px;
}
.menu{
    width: 1933px;
    height: 51px;
    position: absolute;
    top: 60px;
    border-bottom: 1px solid #e6e6e6;
}
.menu-list{
    font-family: 'Lato', sans-serif;
    position: relative;
    left: 460px;
    top: 60px;
    width: 1600px;
    height: 51px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #222;
}
.palka{
    position: absolute;
    left: 230px;
    top: 430px;
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    border: none;
}
.txt{
    position: absolute;
    left: 254px;
    top: 412px;
}
.txt1{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 0.03em;
    line-height: 71.93px;
    color: #222222;
}
.txt2{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 71.93px;
    letter-spacing: 0.03em;
    color: #222222;
}
.txt3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.03em;
    line-height: 71.93px;
    position: absolute;
    left: 270px;
    top: 71.5px;
    color: #f16d7f;
}
.four{
    width: 1141px;
    height: 900px;
    margin-top: 81px;
    margin-left: 230px;
}
.man{
    position: absolute;
    top: 900px;
    left: 230px;
}
.women{
    position: absolute;
    width: 560px;
    height: 261px;
    top: 900px;
    left: 811px;
}
.kids{
    position: absolute;
    top: 1181px;
    left: 810px;
}
.accesories{
    position: absolute;
    top: 1462px;
    left: 230px;
}
.badge{
    width: 175px;
    height: 82px;
    position: absolute;
    top: 924px;
    left:230px;
    background-color: white;
    border:1px solid #e6e6e6;
}
.badge2{
    width: 175px;
    height: 82px;
    position: absolute;
    top: 924px;
    left:810px;
    background-color: white;
    border:1px solid #e6e6e6;
}
.badge3{
    width: 175px;
    height: 82px;
    position: absolute;
    top: 1206px;
    left:810px;
    background-color: white;
    border:1px solid #e6e6e6;
}
.badge4{
    width: 225px;
    height: 82px;
    position: absolute;
    top: 1485px;
    left:230px;
    background-color: white;
    border:1px solid #e6e6e6;
}
.hot{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: left;
    color: #222222;
}
.hot2{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: bottom;
    color: #f16d7f;
}
.offer{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: left;
    color: #222222;
}
.offer2{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: bottom;
    color: #f16d7f;
}
.arrivals{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: left;
    color: #222222;
}
.arrivals2{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: bottom;
    color: #f16d7f;
}
.luxirous{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: left;
    color: #222222;
}
.luxirous2{
    padding-left: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 36px;
    text-align: bottom;
    color: #f16d7f;
}
.txt4{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    color: #222;
    position: absolute;
    left: 703.4px;
    top: 1778px;
}
.txt5{
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 54px;
    text-align: center;
    color: #9f9f9f;
    position: absolute;
    left: 624.2px;
    top: 1820px;
}
.product{
    width: 1139px;
    height: 989px;
    margin-left: 232px;
    top: 1778px;
}
.img1{
    position: absolute;
    left: 232px;
    top: 1896px;    
}
.img2{
    position: absolute;
    left: 525px;
    top: 1896px;
}
.img3{
    position: absolute;
    top: 1896px;
    left: 816px;
}
.img4{
    position: absolute;
    top: 1896px;
    left: 1110px;
}
.img5{
    position: absolute;
    left: 232px;
    top: 2298px;
}
.img6{
    position: absolute;
    left: 525px;
    top: 2298px;
}
.img7{
    position: absolute;
    top: 2298px;
    left: 816px;
}
.img8{
    position: absolute;
    top: 2298px;
     left: 1110px;
}
.mango1{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2192px;
    left: 245px;
}
.mango2{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2192px;
    left: 538px;
}
.mango3{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2192px;
    left: 830px;
}
.mango4{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2192px;
    left: 1123px;
}
.mango5{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2593px;
    left: 245px;
}
.mango6{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2593px;
    left: 538px;
}
.mango7{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2593px;
    left: 830px;
}
.mango8{
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: #222;
    position: absolute;
    top: 2593px;
    left: 1123px;
}
.mangod{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #F16D7F;
    font-size: 16px;
    line-height: 35px;
}
.mangob{
    font-family: 'Lato', sans-serif;
    width: 212px;
    height: 32px;
    position: absolute;
    top: 2719px;
    left: 694px;
    background-color: #F16D7F;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.nigga{
    width: 1140px;
    height: 529px;
    margin-left: 229px;
}
.womenb1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 53.62px;
    letter-spacing: 0.03em;
    line-height: 64.35px;
    color: #FFFFFF;
    position: absolute;
    top: 2925px;
    left: 265px;
}
.womenb2{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 53.62px;
    letter-spacing: 0.03em;
    line-height: 64.35px;
    color: #F16D7F;
    position: absolute;
    top: 2925px;
    left: 385px;
}
.womenb3{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 64.35px;
    color: #FFFFFF;
    position: absolute;
    top: 3000px;
    left: 265px;
}
.womenb{
    background-color: #222224;
    width: 1142px;
    top: 2880px;
    padding-left:
}
.delivery{
    position: absolute;
    left: 1023px;
    top: 2850px;
}
.sales{
    position: absolute;
    left: 1023px;
    top: 2990px;
}
.quality{
    position: absolute;
    left: 1023px;
    top: 3150px
}
.deliverytxt{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FBFBFB;
    position: absolute;
    top: 2855px;
    left: 1100px;
}
.deliverytxt2{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 236px;
    word-break: break-all;
    font-size: 14px;
    color: #FBFBFB;
    position: absolute;
    top: 2890px;
    left: 1100px;
}
.salestxt{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FBFBFB;
    position: absolute;
    top: 3010px;
    left: 1100px;
}
.salestxt2{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 236px;
    word-break: break-all;
    font-size: 14px;
    color: #FBFBFB;
    position: absolute;
    top: 3045px;
    left: 1100px;
}
.qualitytxt{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FBFBFB;
    position: absolute;
    top: 3165px;
    left: 1100px;
}
.qualitytxt2{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 24px;
    width: 236px;
    word-break: break-all;
    font-size: 14px;
    color: #FBFBFB;
    position: absolute;
    top: 3200px;
    left: 1100px;
}
