* {
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
}

body {
    margin: 0 auto;
    background-color: #fff;
    width: 1366px;
}

} 
.header{
    width: 1366px;
    height: 190px;
    background-color: #E0E0E0;
}

.head{
    width: 1100px;
    height: 27px;
    padding: 64px 98px;
    background-color: #E0E0E0;
}
.head img{
    width: 184px;
    height: 21px;
}
.head nav{
    float: right;
}
.head nav li{
    list-style-type: none;
    float: left;
    margin-left: 30px;
}
.head nav ul li a{
    color: #8C8C8C;
    font-size: 14px;
}
.head a:hover {
    color: #000;
    border-bottom: 3px solid black;
}

.head_cont2{
    width: 584;
    height: 70px;
    background-color: #F5F5F5;
}
.head_cont2 nav{
    padding: 25px 0;
    margin: 0 auto;
    width: 794px;
    height: 24px;
    text-align: center;
}
.head_cont2 nav li{
    color: #6C6C6C;
    font-size: 18px;
    font-family: Arial;
    font-weight: 500;
    list-style-type: none;
    padding: 0 30px;
    float: left;
}

.one{
    width: 1366px;
    height: 700px;
    margin: 75px 0 0 0;
}
.one_cont{
    width: 1170px;
    height: 100%;
    padding: 0 98px 0 98px; 
}
.one_block_one{
    float: left;
    width: 50%;
    height: 100%;
}
.pack_one img{
    height: 570px;
    width: 570px;
}
.pack_two button{
    height: 70px;
    border: none;
}
.pack_two{
    height: 70px;
    width: 230px;
    margin-left: calc(50% - 130px);
}
.pack_two img:active {
    opacity: 0.4;
}
.one_block_two{
    float: right;
    width: 50%;
    height: 100%;
}
.pack_one_two{
    text-align: center;
}
.butt{
    margin-top: 36px;
    margin-left: 35px;
    margin-bottom: 50px;
    padding: 25px 0px;
    background-color: #F44336;
    width: 510px;
    height: 20px;
    border-radius: 35px;
    box-shadow: 0 2px 5px #212121;
}
.butt:hover{
    box-shadow: none;
}
.butt p{
    margin-left: -10px;
    text-align: center;
    font-size: 22px;
    color: #fff;
    letter-spacing: 2px;
}
.arrow{
    float: right;
    margin-right: 150px;
    margin-top: -27px;
    width: 14px;
    height: 24px;
}

.pack_two_two span{
    font-size: 16px;
    
}

.three{
    width: 1366px;
    height: 550px;
    padding: 115px 0 0 0;
}
.three_cont{
    width: 1170px;
    height: 550px;
    padding: 0 98px;
}
.head_three{
    width: 1170px;
    height: 55px;
}
.p_three{
    float: left;
    height: 87px;
    width: 470px;
    color: #212121;
    font-size: 36px; 
}
.pictures_three{
    float: left;
    width: 1180px;
    height: 370px;
}
.pictures_three img{
    width: 370px;
    height: 370px;
}
.btn-ghost{
    float: right;
    margin-top: 10px;
    width: 177px;
    height: 20px;
}

.footer{
    background-color: #E0E0E0;
    width: 1366px;
    height: 384px;
}
.footter{
    padding: 115px 98px;
    width: 1170px;
    height: 230px;
}
.footer_cont1{
    width: 1170px;
    height: 163px;
    margin-bottom: 60px;
}
.foot_1{
    float: left;
    width: 270px;
    height: 163px;
    margin-right: 30px;
}
.foot_2{
    float: left;
    width: 470px;
    height: 163px;
    margin-right: 30px;
}
.foot_3{
    float: left;
    width: 370px;
    height: 163px;
}
.zag{
    color: #6C6C6C;
    font-size: 18px;
}
.text_foot{
    color: #212121;
    font-size: 14px;
}
.text_foot1{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;
    
}
.text_foot2{
    float: right;
    letter-spacing: 1px;
    line-height: 1.8;
}
.text_foot3{
    color: #212121;
    font-size: 14px;
}
.email{
    height: 17px;
    width: 370px;
    padding: 20px 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}
.text_email{
    color: #212121;
    font-size: 14px;
    float: left
}

.fot2_one{
    float: left;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fot2_one p {
    font-size: 12px;
    color: #6C6C6C;
}
.fot2_two{
    float: left;
    width: 10%;
    height: 14px;
}
.fot2_two p {
    text-align: center;
    font-size: 31px;
    color: #6C6C6C;
}
.fot2_three{
    float: right;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fot2_three p {
    text-align: right;
    font-size: 12px;
    color: #6C6C6C;
}
