@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

a{
    text-decoration: none;
}

body{
    background: #222222;
    color: white;
    font-family: "Segoe UI", sans-serif;
    padding: 30px 10px
}

.wrapper{
    margin: auto;
    width: 900px;
}

header{
    background: #E6B333;
    padding: 5px 5px 5px 15px;
    border-radius: 30px;
    height: 40px;
}

header img{
    height: 50px;
}

nav{
    float: right;
    clear: right;
    margin: -23px -10px 15px 15px;
}

nav ui li{
    float: right;
    margin-right: 30px;
    list-style: none;
    font-size: 15px;
}

nav ui li a{
    color: #222222;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    text-shadow: 0 0 20px #222222;
    padding: 0 10px;
}

nav ui li a:hover{
    background: #222222;
    color: #E6B333
}

.h1_hov:hover{
    text-shadow: 0 0 10px #222222;
}


.wrapper2{
    margin:20px auto;
    height: auto;
    padding: 10px;
    width: 800px;
    background: #222222;
    border: 10px solid #E6B333;
    border-radius: 30px;
}


footer{
    background: #E6B333;
    padding: 10px 5px 5px 15px;
    border-radius: 30px;
    height: 30px;
    font-size: 1.2em;
    color: #222222;
}

.texts{
    margin: -220px 0 120px 420px;
}

.forma{
    margin: auto;
    padding: 10px;
    width: 300px;
    background: #222222;
    border: 5px solid #E6B333;
    border-radius: 30px;
}

#line_block { 
    width:110px; 
    height:25px; 
    float:left; 
    margin: 0 15px 15px 0; 
    text-align:center;
    padding: 10px;
}

.table_tr, th, td{
    margin: 10px 120px;
    padding: 5px;
    border: 2px solid white;
}
