/* .div,span{
    width: 1000px;
    height: 200px;
    border: 4px solid #0f0;
}
.span{
    color:brown;
}
.canvas{
    background-color: red;}   
.logo{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-top: 50px;
    margin-left: 100px;
}
.menu li{
    padding-top:20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom:10px;
}
.logo:hover{
    outline: 4px solid #000;
} */
/* .product{
    width: 200px;
    height: 150px;
    border: 1px solid black;
}
.footer {
    background-color: #ccc;
    overflow: hidden;
    overflow: scroll;
} */
/* .product{
    width: 200px;
    height: 150px;
    border: 1px solid black;  
} 
.product1{
    background-color: #ccc;
    position: absolute;
    left: 100px;
}
.product2{
    width: 300px;
    height: 200px; 
} */
/*
.logo{
    height: 50px;
    width: 50px;
    background-color: #0ceb1d;
    float: left;
    position:absolute;
    top: 50px;
    left: 100px;    
}
*/
/*
* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
.container{
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}
.header{
    min-height: 200px;
    background-color:darkgreen;    
}
.nav{
    width:200px;
    height:200px;
    background-color: darkgoldenrod;
    float:left;
}
.main{
    margin-left: 200px;
}
.clr{
    height: 200px;
}
.footer{
    height: 200px;
    background-color: gray;
}
*/
