* {
outline: 0;
margin: 0;
padding: 0;
}
html{
height: 3000px;
}
a{
text-decoration: none;
color: black
}
body {
width: 1610px;
margin: 0 auto;
padding: 0;
color: #636363;
margin-bottom: 100px;
}
.container {
margin: 0 auto;
padding: 0;
width: 1610px;
color: #636363
}
.a {
text-decoration: none;
}
.header {
width: 1156px;
height: 50px;
background: #fff;
border-bottom: 1px solid #ececec;
padding: 25px 230px
}
.group {
float: left;
}
.dropdown {
float: left;
color: #A4A4A4;
margin-top: 8px;
margin-left: 25px;
width: 403px;
height: 40px;
background-color: white;
border: 1px solid #E6E6E6;
border-radius: 5px;
}
.dropdown_1 {
width: 87px;
height: 40px;
background-color: #F9F9F9;
float: left;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border: 1px solid #F9F9F9;
border-right: 1px solid #ccc;
padding-left: 5px;
}
.drop_input {
width: 258px;
height: 40px;
float: left;
border: none;
padding: 0 10px;
border-right: 1px solid #ccc;
}
.my_account {
margin-top: 5px;
float: right;
background-color: #F16D7F;
width: 115px;
height: 38px;
border: none;
border-radius: 3px;
color: white;
text-align: center;
padding-left: 15px;
}
.header_2 {
width: 1210px;
height: 35px;
background: #fff;
border-bottom: 1px solid #ececec;
padding-left: 400px;
padding-top: 15px;
margin: 0;
}
.header_2 nav ul a li {
font-size: 14px;
list-style-type: none;
float: left;
margin-left: 60px;
color: black
}
.header_3 {
width: 1150px;
height: 28px;
background: #f8f3f4;
padding: 60px 230px;
}
.vals {
font-family: Lato-Black;
font-weight: normal;
font-size: 24px;
line-height: 20px;
text-align: center;
color: #f16d7f;
}
.arrivals {
float: left;
}
.hmn {
font-family: Lato-Light;
font-weight: normal;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #f16d7f;
float: right;
}
.hmn nav ul a{
float: left;
}
.hmn nav ul a li{
list-style-type: none;
margin-left: 10px;
color: #636363;
font-size: 14px;
}
.header_4{
width: 1607px;
height: 777px;
background: #f7f7f7;
border: 1px solid #eaeaea;
margin-top: 0px;
}
.ign img{
width: 598px;
height: 724px;
margin-left: calc(50% - 299px)
}
.arrow_lr{
background-color: #2A2A2A15;
position: absolute;
width: 47px;
height: 40px;
text-align: center;
padding-top: 8px;
font-size: 24px;
margin-top: 340px;
}
.arrow_lr:hover{
background-color: #2A2A2A50;
}
.absolut_block2{
position: absolute;
margin-top: -90px;
width: calc(100%-640px);
height: 650px;
padding: 0 260px;
margin-left: 230px;
background-color: white;
border: 1px solid #2A2A2A10
}
.absolut_block3{
width: 650px;
height: 590px;
text-align: center;
padding-top: 70px;
}
.input_block{
width: 33%;
float: left;
}
.absolut_block2 button{
border: 1px solid #EF5B70;
border-radius: 10px;
}
.absolut_block2 button:hover{
border: 5px solid #EF5B70;
border-radius: 10px;
}
.photo_4{
margin: 0 auto;
margin-top: 600px;
width: 1141px;
height: 457px;
}
.text1{
font-size:14px;
font-weight:bold;
color:#B9B9B9
}
.text2{
font-size:14px;
font-weight:bold;
color:#2F2F2F;
margin-right: 42px;
}
.text3{
font-size: 24px;
font-weight: bold;
color: #EF5B70
}
.absolut_block2 button{
margin-top: 30px;
background-color: white;
border: 1px solid #EF5B70;
color: #EF5B70;
font-size: 16px;
font-weight: bold;
width: 537px;
height: 55px;
}
.input_block1{
margin-top: 10px;
width: 80%;
height: 35px;
padding: 0 15px;
color: #BCBCBC;
outline: 1px solid #EAEAEA;
}
button span{
height: 240px;
}
.title_photo{
text-align: center;
font-size: 24px;
width: 100%;
margin-bottom: 40px;
}
.niz{
padding: 100px 230px 0 230px;
width: calc(100% - 460px);
height: 338px;
background: url(img/fon.png) no-repeat;
}
.niz_foto{
border-radius: 50%;
width: 83px;
height: 83px;
float: left;
margin-right: 30px;
}
nav ul a li:hover{
border-bottom: 3px solid #212121
}
.niz_text{
float: left;
}
.niz_text2{
text-align: center;
float: right;
}
.niz_in{
width: 282px;
height: 46px;
background-color: #E1E1E1;
outline: none;
border: none;
padding-left: 15px;
border-top-left-radius: 23px;
border-bottom-left-radius: 23px;
}
.niz_btn{
width: 104px;
height: 46px;
background-color: #F16D7F;
outline: none;
border: none;
text-align: center;
color: #fff;
border-top-right-radius: 23px;
border-bottom-right-radius: 23px;
}
.text11{
font-size:18px;
color:#F16D7F
}
.text22{
font-size: 16px;
color:#898989;
line-height:40px;
}
.niz_btn:hover{
cursor: pointer
}
.niz2{
padding: 100px 230px 0 230px;
width: calc(100% - 460px);
height: 338px;
}
.niz_text21{
width: 430px;
float:left;
margin-right: 50px;
}
.niz3{
padding: 30px 230px;
width: calc(100%-460px);
height: 20px;
background-color: #E6E6E6
}