a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.glav_block{
    width: 1366px;
    height: 1307px;
    background: transparent;

}
.block_one{
    width: 1336px;
    height: 366.68px;
    background: transparent;
}
.block_one a:hover {
    color: #000;
    border-bottom: 3px solid black;
}
.block_onee{
    width: 1519px;
    height: 360px;
    background: #f5f5f5;
    margin-top: -8px;
    margin-left: -8px;
}
.verh{
    width: 1519px;
    height: 90px;
    background: transparent;
}
.logo{
    padding-top: 64px;
    margin-left: 98px;
}
.menu{
    list-style-type: none;
    text-decoration: none;
    margin-top: -51px;
    margin-left: 757px;
    
}
.li{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: right;
    color: #8c8c8c;
    float: left;
    margin: 13px;
}

.search{
    padding-top: 29px;
}
.text_per{
    width: 1170px;
    height: 132.51px;
    font-family: Montserrat-Thin;
    font-weight: normal;
    font-size: 62px;
    line-height: 72px;
    text-align: left;
    color: #212121;
    margin-top: 154px;
    margin-left: 98px;
}
.tri_knop{
    width: 1170px;
    height: 370px;
    background: transparent;
}
.on_blok{
    width: 370px;
height: 370px;
background: #fff;
border: 1px solid #9c9c9c;
opacity: 0.9;
margin-left: 90px;
    margin-top: 64px;

}
.pp{
    margin-left: 170px;
    margin-top: 50px;
}
.clif{
    width: 370px;
height: 57.52px;
font-family: Montserrat-Bold;
font-weight: normal;
font-size: 21.91px;
line-height: 29.88px;
text-align: center;
color: #212121;
margin-left: 123px;
    margin-top: 107px;
    
}
.phone{
    margin-top: 31px;
}
.tw_blok{
    width: 370px;
height: 370px;
background: #fff;
border: 1px solid #9c9c9c;
opacity: 0.9;
margin-left: 489px;
    margin-top: -372px;

}
.pt{
    margin-left: 170px;
    margin-top: 50px;
}
.cliff{
    width: 370px;
height: 57.52px;
font-family: Montserrat-Bold;
font-weight: normal;
font-size: 21.91px;
line-height: 29.88px;
text-align: center;
color: #212121;
margin-left: 123px;
    margin-top: 107px;
    
}
.phonee{
    margin-top: 31px;
}
.th_blok{
    width: 370px;
height: 370px;
background: #fff;
border: 1px solid #9c9c9c;
opacity: 0.9;
margin-left: 400px;
    margin-top: -327px;

}
.ppth{
    margin-left: 170px;
    margin-top: 50px;
}
.clf{
    width: 370px;
height: 57.52px;
font-family: Montserrat-Bold;
font-weight: normal;
font-size: 21.91px;
line-height: 29.88px;
text-align: center;
color: #212121;
margin-left: 123px;
    margin-top: 107px;
    
}
.phne{
    margin-top: 31px;
}
.five{
    margin-top:122px; 
}
.block_five{
    width: 1366px;
    height: 384px;
    background: transparent;
    background: #f7f7f7;
    margin-left: 0px;
}
.contact{
    margin-left: 98px;
    padding-top: 116px;
}
.us{
    width: 270px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.con{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.cons{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;
    margin-bottom: 8px;
}
.i{
    margin-bottom: 8px;
}
.useful{
    width: 470px;
    height: 162.61px;
    background: transparent;
    margin-left: 398px;
    margin-top: -150px;
}
.usef{
    width: 470px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.sales{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.accoun{
    margin-left:221px;
    margin-top:-125px;
}
.carr{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.lets{
    width: 370.19px;
    height: 48px;
    background: transparent;
    margin-left:890px;
    margin-top:-164px;
}
.let{
    width: 370px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.know{
    width: 370px;
    height: 60.96px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.posled{
    width: 370px;
    height: 48px;
    background: #fff;
    border: 1px solid #d9dee1;
    margin-top:17px;
}
.email{
    width: 370.19px;
    height: 31.95px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #6c6c6c;
    margin-top:10px;

}
.footer{
    margin-left:90px;
    margin-top:-50px;
}
.copy{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #6c6c6c;
}
.toyy{
     margin-left:896px;
    margin-top:-26px;
}
.term{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: right;
    color: #6c6c6c;
}
.sam{
    margin-left: 328px;
    margin-top: -38px;
}
.icon{
    margin-left: 644px;
    margin-top: -28px;
}