@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Montserrat;
}

body {
    width: 1366px;
    
    margin: 0 auto;
}

body > header {
    margin: 0 98px;
    margin-top: 63px;
    margin-bottom: 34px;
}

a {
    text-decoration: none;
}

.slider {
    padding: 0 98px;
    padding-top: 66px;
    padding-bottom: 19px;

    background-image: url(../img/slider.png);
    background-size: 100%;

    height: 800px;
}

header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: #8c8c8c;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px;
}

header nav a:hover {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid black;
}

header nav .menu-select {
    font-weight: bold;
    color: black;
    border-bottom: 3px solid black;
}

header nav .search {
    cursor: pointer;
}

.descriptions {
    margin-top: 288px;
}

.descriptions .trend {
    color: #43A047;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.descriptions .title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 62px;
    margin: 22px 0;
}

.descriptions .description {
    color: #6C6C6C;
    margin-top: 18px;
    font-size: 14px;
}

.descriptions .btn_order {
    margin-top: 18px;
    padding: 13px 0;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22px;
    box-shadow: 0 2px 5px #21212135;
    display: block;

    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;

    text-transform: uppercase;
    text-decoration: none;
}

.circles {
    width: 120px;
    margin: 0 auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circles .circle_small {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #21212133;
    cursor: pointer;
}

.circles .circle_big {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #212121;
    cursor: pointer;
}

.items_1 {
    margin: 122px auto;
    width: 1170px;
}

.items_1 nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.items_1 nav .features a {
    text-decoration: none;
    font-weight: bold;

    color: #6c6c6c;
    
    padding-left: 9px;
    padding-bottom: 19px;
    padding-right: 20px;

    border-bottom: 1px solid #6c6c6c;

    font-size: 36px;
}

.items_1 nav .features .menu-select {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.items_1 nav .features a:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.items_1 nav .explore {
    color: #6c6c6c;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.items_1 .items {
    width: 1170px;
    height: 270px;

    display: flex;
    justify-content: space-between;
}

.items_1 .items .item_1 {
    background-image: url(../img/product_1.png);
    background-blend-mode: overlay;
    background-color: rgba(255,255,255,0.8);
    background-size: 100%;

    width: 270px;
    height: 270px;

    text-align: center;
}

.items_1 .items .item_1 .btn {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px #21212135;

    display: inline-block;
    margin-top: 61px;
}

.items_1 .items .item_1 .btn img {
    padding-top: 13px;
}

.items_1 .items .item_1 .title {
    margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
}

.items_1 .items .item_1 .description {
    color: #6c6c6c;
}


.two{
    width: 1366px;
    height: 683px;
}
.two_cont1{
    float: left;
    width: 50%;
    height: 683px;
    background-image: url(../img/product_2_1.png) 
}
.two_cont2{
    float: right;
    width: 50%;
    height: 683px;
    background-image: url(../img/product_2_2.png) 
}

.left_cont2{
    height: 58px;
    width: 320px;
    padding: 0px 52px;
    margin-top: 192px;
}
.color_blue{
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;
}
.fishnet2{
    color: #212121;
    font-size: 36px;
    margin: 10px -3px;
}
.text_two{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button2{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button2:hover{
    box-shadow: none;
}
.button2 p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;
}
.arrow{
    float: right;
    margin-right: 30px;
    margin-top: -19px;
    width: 9px;
    height: 14px;
}

.three{
    width: 1366px;
    height: 876px;
    padding: 115px 0;
}
.three_cont{
    width: 1170px;
    height: 876px;
    padding: 0 98px;
}
.head_three{
    width: 1170px;
    height: 55px;
    
    display: flex;
    justify-content: space-between;
}
.p_three{
    float: left;
    height: 87px;
    width: 470px;
    color: #212121;
    font-size: 36px; 
}
.pictures_three{
    float: left;
    width: 1180px;
    height: 770px;
}
.pictures_three img{
    width: 370px;
    height: 370px;
}

.four{
    width: 1366px;
    height: 800px;
    background-image: url(../img/slider_2.png)
}
.four_cont{
    width: 100%;
    height: 100%;
}
.left_cont4{
    height: 58px;
    width: 470px;
    padding: 270px 98px;
}
.color_red{
    color: #E53935;
    font-size: 18px;
}
.fishnet4{
    color: #212121;
    font-size: 62px;
    margin: 10px -3px;
}
.text_four{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button4{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button4:hover{
    box-shadow: none;
}
.button4 p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 2px;
}

.circle{
    width: 550px;
    margin: -50px 640px;
}
.circle1{
    width: 25px; 
    height: 25px;
    background: #21212133;
    border-radius: 50%;
    float: left;
}
.circle2{
    width: 35px; 
    height: 35px;
    background: #212121;
    border-radius: 50%;
    float: left;
    margin: -6px 5px 0 5px;
}

.interiors-flex {
    display: flex;
    justify-content: space-between;
    
    width: 1170px;
    height: 570px;
    
    margin: 120px auto;
}

.exclusive {
    text-transform: uppercase;
    
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #1e88e5;
}

.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 43.2px;
    color: #212121;
}

.description {
    font-weight: bold;
    font-size: 13.99px;
    line-height: 23.98px;
    color: #6c6c6c;
}

.button {
    text-transform: uppercase;
    
    font-weight: bold;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    color: #6c6c6c;
    
    padding: 10px 20px;
    border-radius: 22.5px;
    background: white;
    box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);
    
    text-align: center;
    
    display: inline-block;
    
    margin: auto 0;
    margin-top: 36px;
}

.button::after {
    content: '>';
    margin-left: 10px;
}

.interior {
    background-image: url('../img/inter_1.png');
    background-size: 100%;
    
    width: 570px;
    height: 570px;
}

.interiors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    width: 570px;
    height: 570px;
}

.text {
    padding-top: 186px;
    padding-left: 32px;
}

.application {
    width: 100%;
    height: 516px;
    
    background-image: url(../images/application.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.application .text {
    padding-left: 100px;
    padding-top: 100px;
}

.app {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #6c6c6c;
}

.favorite {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
}

.save {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #6c6c6c;
}

.margin-5 {
    margin-right: 5px
}


.application {
    width: 100%;
    height: 516px;
    
    background-image: url(../img/application.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.application .text {
    padding-left: 100px;
    padding-top: 100px;
}

.app {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #6c6c6c;
}

.favorite {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
}

.save {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #6c6c6c;
}

.margin-5 {
    margin-right: 5px
}

/* CONTACTS */
.top {
    height: 360px;
    padding: 0 98px;
    padding-top: 66px;
    padding-bottom: 19px;
    
    background-color: #f5f5f5;
}

.top > div {
    padding-top: 176px;
    
    font-weight: 100;
    font-size: 68px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    
    height: 370px;
    width: 1170px;
    
    margin: 71px auto;
}

.contacts > div {
    width: 370px;
    height: 370px;
    
    text-align: center;
    
    padding: 62px 20px;
    
    border: 1px solid #a6a6a6;
    
    box-sizing: border-box;
    
    font-weight: bold;
}

.contacts > div h2 {
    margin: 15px 0;
}

.contacts .grey_title {
    color: #6c6c6c;
}

.contacts .black_title {
    color: #212121;
    margin-bottom: 21px;
}

.contacts .light_title {
    font-weight: 300;
}

footer {
    height: 384px;
    width: 100%;
    
    box-sizing: border-box;
    
    background-color: #f7f7f7;
    
    padding: 0 98px;
    padding-top: 120px;
    padding-bottom: 30px;
    
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

footer > div {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

footer > div:last-child {
    align-items: center;
    color: #6c6c6c;
}

footer > div span {
    line-height: 30px;
}

footer h4 {
    color: #6c6c6c;
    margin-bottom: 15px;
}

footer .contact_us {
    width: 300px;
}

footer .useful {
    width: 422px;
}

footer .useful div {
    display: flex;
    justify-content: space-between;
}

footer .useful span {
    color: #212121;
}

footer .lets {
    width: 370px;
}

footer .lets div {
    width: 100%;
    height: 48px;
    
    background-color: white;
    
    border: 1px solid #d9dee1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 18px;
    
    box-sizing: border-box;
}

footer .lets input {
    border: none;
    width: 100%;
}

/* PRODUCT DEAILS */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #6c6c6c;
    font-size: 16px;
    
    background-color: #f4f4f4;
    
    width: 100%;
    height: 70px;
    
    padding: 0 360px;
    
    font-weight: bold;
    
    box-sizing: border-box;
}

.menu > span:hover {
    color: #212121;
    cursor: pointer;
}

.menu .menu-select {
    color: #212121;
}

.products_description {
    display: flex;
    justify-content: space-between;
    
    width: 1170px;
    
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 245px;
}

.products_description > div:first-child {
    width: 570px;
}

.products_description > div:last-child {
    width: 510px;
    
    text-align: center;
    color: #212121;
}

.products_description > div:last-child h1 {
    margin-bottom: 73px;
}

.products_description .cost {
    font-size: 30px;
}

.products_description .cost_big {
    font-size: 50px;
}

.products_description .btn {
    color: white;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    
    padding: 20px 0;
    
    width: 100%;
    
    background-color: #f44336;
    
    border-radius: 50px;
    
    margin: 33px 0;
    
    cursor: pointer;
    
    transition: background-color 0.5s;
}

.products_description .btn:hover {
    background-color: #f47268;
}

.products_description p {
    text-align: start;
}

.products_description .products_img {
    display: flex;
    justify-content: space-between;
    
    width: 230px;
    
    margin: 0 auto;
}

.related_products {
    width: 1170px;
    
    margin: 0 auto;
    
    margin-bottom: 120px;
}

.related_products > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
    width: 100%;
    
    font-weight: bold;
    
    margin-bottom: 71px;
}

.related_products .title {
    font-size: 30px;
    color: #212121;
}

.related_products .explore {
    color: #6c6c6c;
}

.related_products > div:last-child {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
}

/* PRODUCT */
.products {
    width: 1170px;
    
    margin: 0 auto;
    margin-top: 71px;
    margin-bottom: 140px;
}

.products > div:first-child {
    font-weight: bold;
    color: #6c6c6c;
}

.products > div:first-child span {
    padding-left: 7px;
    padding-right: 31px;
    padding-bottom: 21px;
    
    border-bottom: 1px solid #6c6c6c;
}

.products > div:first-child span:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
    
    cursor: pointer;
}

.products > div:first-child .menu-select {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.products .img_products {
    margin-top: 50px;
    margin-bottom: 71px;
    
    width: 100%;
    height: 1569px;
    
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.products > img {
    width: 42px;
    
    margin: 0 auto;
    
    display: block;
    
    cursor: pointer;
}
