*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;    
}
.container{
    max-width: 100%;
    min-width: 400px;
    margin: 0 auto;
}
.header{
    min-height: 200px;
    background-color: darkred; 
}
.nav{
    width: 200px;
    height: 200px;
    background-color: darkblue;
    float:left;
}
.main{
    margin-left: 200px;
}
.footer{
    height: 200px;
    background-color: grey;
    margin-top: -200px;
}
.clr{
    height: 200px;
}