.container {
    width: 1366px;
    height: 3400px;
    margin: 0 auto;
}

@font-face {
    font-family: "MM"; 
    src: url("font/MM.ttf");
}
@font-face {
    font-family: "MB"; 
    src: url("font/MB.ttf");
}
@font-face {
    font-family: "ML"; 
    src: url("font/ML.ttf");
}
@font-face {
    font-family: "MT"; 
    src: url("font/MT.ttf");
}

*{
    margin: 0 auto;
    font-family: MM;
}

.head1{
    height: 21px;
    width: 184px;
    background-image: url(img/1.png);
    background-repeat: no-repeat;
    float: left;
}

.head{
    margin: 0px auto;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 30px;
    background: #F5F5F5;
    height: 366px;
    width: 1160px;
}

 ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

}

a {
    color: black;
    text-decoration: none;
}

 li{
    float:left;
    padding-right: 30px;
}


.head2{
    float: right;
    margin-top: 5px;
}


.head3{
    padding: 0;
    width: 21px;
    height: 22px;
    background-image:url(img/2.png);
    background-repeat: no-repeat;
    
}


.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-list a:hover {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.menu{
    list-style-type: none;
    margin-right: 150px;
    margin-top: -5px;
    float:right;   
}
.menu li { 
    display: inline;
    padding-left: 15px;
}

.mua{
    font-size: 62px;
    font-family: "mt";
    margin-top: 250px;
}


@font-face{
    font-family: "mt";
    src: url("font/MT.ttf")
}


.may{
    height: 50px;
    margin-top: 100px;
    margin-left: 100px;
    word-spacing: 50px;
}

.may span:hover{
    border-bottom: 3px solid #212121;
}

.img2{
    height: 370px;
    width: 370px;
    float: left;
    padding: 10px;
    border: 5px;
}

.block_one{
    height: 1600px;
    margin-top: 50px;
    float: left;
    clear: left;
    margin-left: 90px;
    
}

.imag12{
    height: 370px;
    width: 370px;
    float: left;
    padding: 10px;
    border: 5px;
     
    
}

.one_12{
     margin-top: 30px;
    float: left;
    clear: left;
    margin-left: 100px;
    margin-bottom: 200px;
}

.two{
    width: 1366px;
    height: 683px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.gh{
    float: left;
    width: 50%;
    height: 688px;
    background-image: url(img/77.png) 
}
.two_cont2{
    float: right;
    width: 50%;
    height: 683px;
    background-image: url(img/88.png) 
}
.cont2{
    padding: 60px 98px;
}

.left_cont2{
    height: 58px;
    width: 470px;
    padding: 0px 52px;
    margin-top: 192px;
}
.color_blue{
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;
}
.fishnet2{
    color: #212121;
    font-size: 36px;
    margin: 10px -3px;
}
.text_two{
    margin-top: 18px;
    color: #6C6C6C;
    font-size: 14px;
}
.button2{
    margin: 0px;
    margin-top: 26px;
    padding: 10px 0;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #21212135;
}
.button2 p{
    margin: 0;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    color: #6C6C6C;
    padding-top: -30px;
    letter-spacing: 2px;
}
.kl{
   
    width: 9px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: 1366px 800px;
     margin: auto;
    padding: 45px 45px 0px 45px;
}


.mya{
    margin-top: 1550px;
    background-color: #F7F7F7;
    width: 1366px;
    height: 384px;
}
.lilo{
    padding: 115px 98px;
    width: 1170px;
    height: 230px;
}
.lilo1{
    width: 1170px;
    height: 163px;
    margin-bottom: 60px;
}
.lilo2{
    float: left;
    width: 270px;
    height: 163px;
    margin-right: 30px;
}
.liza{
    float: left;
    width: 470px;
    height: 163px;
    margin-right: 30px;
}
.kol1{
    float: left;
    width: 370px;
    height: 163px;
}
.lilo3{
    color: #6C6C6C;
    font-size: 18px;
    font-family: "MB"
}

.masa{
    float: left;
    letter-spacing: 1px;
    line-height: 1.8;
    font-family: "ML"
    
}
.lia{
    float: right;
    letter-spacing: 1px;
    line-height: 1.8;
    font-family: "ML"
}
.te23{
    color: #212121;
    font-size: 14px;
    font-family: "ML"
}
.mail{
    height: 22px;
    width: 370px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #D9DEE1; 
}
.oooo{
    color: #212121;
    font-size: 14px;
    font-family: "ML"
}

.fo1{
    float: left;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fo1 p {
    font-size: 12px;
    color: #6C6C6C;
    font-family: "MB"
}

.fo2{
    float: right;
    width: 45%;
    height: 14px;
    padding-top: 15px;
}
.fo2 p {
    text-align: right;
    font-size: 12px;
    color: #6C6C6C;
    font-family: "MB"
}
