@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Shadows+Into+Light&display=swap');
.menu a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.feat a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.ewn a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.expl a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.exxppl a{
    text-decoration: none;
     color: #8c8c8c; !important;
}
.conteiner{
    width: 1431px;
height: 5710px;
background: transparent;

}
.block_one a:hover {
    color: #000;
    border-bottom: 3px solid black;
}

.block_one{
   width: 1519px;
height: 800px;
background: transparent;
    background: url(../home_page/img/hero-26.png);
    margin-left: -8px;
    margin-top: -8px;
}
.logo{
    padding-top: 64px;
    margin-left: 98px;
}
.menu{
   
    margin-top: -51px;
    margin-left: 757px;
    color: #8c8c8c;
}
.nav{
     font-family: "Montb";
    color: #8c8c8c;
}
. nav ul li{
    list-style-type: none;

}

.li{
    font-family: "Montb";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: right;
    color: #8c8c8c;
    float: left;
    margin: 13px;
    list-style-type: none;
    text-decoration: none;
}

.search{
    padding-top: 29px;
}
.text{
margin-left: 174px;
    margin-top: 242px;

}
.fisnet{
    width: 470.34px;
height: 132.51px;
font-family: Montserrat-Thin;
font-weight: normal;
font-size: 62px;
line-height: 72px;
text-align: left;
color: #212121;

}
.back{
    width: 470.34px;
height: 57.99px;
font-family: Montserrat-Light;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #6c6c6c;

}
.buut{
   width: 212px;
height: 45px;
border-radius: 22.5px;
background: #fff;
box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);

}
.order{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-left: 4px;
}
.arr{
    padding-left: 29px;
}
.pagination{
    width: 120px;
    height: 40px;
    background: transparent;
    position: relative;
    margin-left: 623px;
    margin-top: 134px;
    
}
.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius:50px;
    float: left;
}
.circle-a {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    float: left;
    margin: -6px 10px 0 10px;
}
.block_two{
    width: 1170.17px;
height: 376.75px;
background: transparent;

}
.feat{
   width: 300px;
height: 56.75px;
background: transparent;
    margin-left: 90px;
    margin-top: 112px;

 
}
.feat a:hover{
    color: black;
    border-bottom: 3px solid black;
}
.ewn a:hover{
    color: black;
    border-bottom: 3px solid black;
}
.ret{
    font-family: Montserrat-Bold;
font-weight: normal;
font-size: 36px;
line-height: 43.2px;
text-align: left;

}
.ewn{
    margin-left: 216px;
    margin-top: -57px;
}
.ew{
    font-family: Montserrat-Bold;
font-weight: normal;
font-size: 36px;
line-height: 43.2px;
text-align: left;
margin-bottom: 4px;
    margin-left: 16px;
    
}
.tab{
    margin-bottom: 13px;
}
.expl{
    width: 181.21px;
height: 22px;
background: transparent;
    margin-top: -40px;
 margin-left: 1079px;
}
.all{
    font-family: Montserrat-Bold;
font-weight: normal;
font-size: 18px;
letter-spacing: 0.2em;
line-height: 24px;
text-align: center;
color: black;

}
.cart{
    width: 1370px;
height: 270px;
background: transparent;
    margin-left: 377px;
    margin-top: 45px;

}
.prod{
    width: 270px;
height: 270px;
background: transparent;
    border: 1px solid #9c9c9c;
    margin: 13px;

}


.background a:hover{
    background-color: rgba(8,255,255,0.8);
    margin-left: 3px;
    margin-top: 4px;
}
.pr{
    float: right;
}
.proda{
    width: 270px;
height: 270px;
opacity: 0.9;
    margin-top: -289px;
    margin-left: 13px;

}
.strel{
    
    margin-left: 111px;
    margin-top: 62px;

}
.strelk{
    width: 270px;
    height: 270px;
    position: absolute;
    z-index: auto;
}
.img_link{
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    margin-left: 89px;
    margin-top: -256.5px;
}
.img_link a { display: block; position: relative; }

.img_link a:after { content: ''; position: absolute; top: -2px; left: -1px; right: 0; bottom: 2px; background: rgba(210, 206, 206, .6);  opacity: 0; }

.img_link a:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0;  opacity: 0; }

.img_link a:hover:before,
.img_link a:hover:after { opacity: 1; }

.svgg{
    margin-left: 193px;
    margin-top: -210px;
     position: absolute;
    z-index: auto;
}
.net{
    width: 270px;
height: 57.52px;
font-family: Montserrat-Bold;
font-weight: normal;
font-size: 21.91px;
line-height: 29.88px;
text-align: center;
color: #212121;
    margin-left: 90px;
    margin-top: -154px;
     position: absolute;
    z-index: auto;

}
.bacs{
    width: 270px;
height: 56.75px;
font-family: Montserrat-Light;
font-weight: normal;
font-size: 13.94px;
line-height: 21.91px;
text-align: center;
color: #6c6c6c;
float:right;
    margin-top:-138px;
    margin-left: 91px;
position: absolute;
    z-index: auto;

}
.block_three{
    width: 1369px;
    height: 686px;
    background: transparent;
    margin-top: 111px;
}
.kr_styl{
    width: 686px;
    height: 686px;
    background: transparent;
    margin-left: -8px;
}
.svg{
    margin-top: -481px;
    margin-left: 50px;
    padding-left: 4px;
    padding-top: 4px;
}
.fish{
    width: 399.97px;
    height: 86.67px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
    margin-left: 50px;
}
.seat{
    width: 399.97px;
    height: 58.07px;    
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.99px;
    line-height: 23.98px;
    text-align: left;
    color: #6c6c6c;
     margin-left: 50px;
}
.bt{
    width: 211.84px;
    height: 45.06px;
    background: transparent;
    margin-left: 50px;
}
.buut{
    background-color: white;
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px rgba(33, 33, 33, 0.35));
    position: relative;
    background: #fff;

}
.order{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-left: 4px;
}
.arr{
    padding-left: 29px;
}
.styl_2{
    float: right;
    margin-top: -686px;
    margin-right: 5px;
}
.block_four{
    width: 1170.17px;
height: 876.12px;
background: transparent;

}
.trend{
    width: 470.34px;
height: 86.63px;
font-family: Montserrat-Bold;
font-weight: normal;
font-size: 36px;
line-height: 43.2px;
text-align: left;
color: #212121;

}
.exxppl{
    width: 181.21px;
height: 22px;
background: transparent;
    margin-top: -45px;
 margin-left: 1079px;
}
.alll{
    font-family: Montserrat-Bold;
font-weight: normal;
font-size: 18px;
letter-spacing: 0.2em;
line-height: 24px;
text-align: center;
color: black;

}
.verh_str{
    width: 1370px;
height: 770px;
background: transparent;
    margin-left: 90px;
    margin-top: 70px;

}
.prodc{
    width: 370px;
height: 370px;
background: transparent;
    margin-right: 26px;
    margin-bottom: 26px;
    border: 1px solid #c6c6c6;
}
.block_five{
    width: 1365px;
height: 769px;

background: url(../home_page/img/hero-8.svg);
    margin-left:-8px;
}
.tet{
margin-left: 174px;
    margin-top: 242px;

}
.trentag{
    margin-left: -228px;
    margin-top: 187px;
}
.fisn{
    width: 470.34px;
height: 132.51px;
font-family: Montserrat-Thin;
font-weight: normal;
font-size: 62px;
line-height: 72px;
text-align: left;
color: #212121;

}
.backss{
    width: 470.34px;
height: 57.99px;
font-family: Montserrat-Light;
font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: left;
color: #6c6c6c;

}
.buuton{
   width: 212px;
height: 45px;
border-radius: 22.5px;
background: #fff;
box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);

}
.orders{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-left: 4px;
}
.arre{
    padding-left: 29px;
}
.paginations{
    width: 120px;
    height: 40px;
    background: transparent;
    position: relative;
    margin-left: 650px;
    margin-top: 298px;
    
}
.circles{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius:50px;
    float: left;
}
.circles-a {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    float: left;
    margin: -6px 10px 0 10px;
}
.block_six{
    width: 1473px;
height: 576px;
background: transparent;

}
.podysh{
    width: 686px;
    height: 686px;
    background: transparent;
    margin-left: 90px;
    margin-top: 115px;
}
.svgoo{
    margin-top: -404px;
    margin-left: 26px;
    padding-top: 4px;
}
.fisjjh{
    width: 399.97px;
    height: 86.67px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
    margin-left: 26px;
}
.seatttt{
    width: 399.97px;
    height: 58.07px;    
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.99px;
    line-height: 23.98px;
    text-align: left;
    color: #6c6c6c;
     margin-left: 26px;
}
.btnnn{
    width: 211.84px;
    height: 45.06px;
    background: transparent;
    margin-left: 26px;
}
.bukkkt{
    background-color: white;
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px rgba(33, 33, 33, 0.35));
    position: relative;
    background: #fff;

}
.ordbbber{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    text-align: center;
    color: black;
    margin-top: 8px;
    margin-left: 4px;
}
.abbrr{
    padding-left: 29px;
}
.chet_cart{
    margin-left: 666px;
    margin-top: -685px;
    
}
.sm{
    width: 270px;
height: 270px;
background: transparent;
    border: 0.5px solid #c6c6c6;
    margin-left: 27px;
    margin-bottom: 27px;

}
.block_seven{
    width: 1368px;
height: 567px;
background: url(../home_page/img/app-back.svg); 
    margin-left: -8px;

}
.find{
  width: 470.34px;
height: 275.47px;
background: transparent;
  margin-top:100px;
}
.sv{
    padding-top: 160px;
    margin-left: 26px;
}
.foll{
    width: 470.34px;
height: 65px;
font-family: Montserrat-Thin;
font-weight: normal;
font-size: 62px;
line-height: 72px;
text-align: left;
color: #212121;

    margin-left: 26px;
   margin-bottom: 4px;
}
.save{
    width: 470.34px;
height: 25px;
font-family: Montserrat-Light;
font-weight: normal;
font-size: 22px;
line-height: 24px;
text-align: left;
color: #6c6c6c;

     margin-left: 26px;
    margin-top: -55px;
}
.follow{
    margin-left: 26px;
    margin-top: -9px;
}
.google{
    margin-left: 26px;
}

.fiveee{
margin-left: -6px; 
}
.block_fivve{
    width: 1366px;
    height: 384px;
    background: transparent;
    background: #f7f7f7;
    margin-left: 0px;
}
.contact{
    margin-left: 98px;
    padding-top: 116px;
}
.us{
    width: 270px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.con{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.cons{
    width: 270px;
    height: 124.57px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;
    margin-bottom: 8px;
}
.i{
    margin-bottom: 8px;
}
.useful{
    width: 470px;
    height: 162.61px;
    background: transparent;
    margin-left: 398px;
    margin-top: -150px;
}
.usef{
    width: 470px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.sales{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.accoun{
    margin-left:221px;
    margin-top:-125px;
}
.carr{
    width: 235px;
    height: 124.57px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #212121;

}
.lets{
    width: 370.19px;
    height: 48px;
    background: transparent;
    margin-left:890px;
    margin-top:-164px;
}
.let{
    width: 370px;
    height: 42.48px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
}
.know{
    width: 370px;
    height: 60.96px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #212121;

}
.posled{
    width: 370px;
    height: 48px;
    background: #fff;
    border: 1px solid #d9dee1;
    margin-top:17px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #6c6c6c;
}
.email{
    width: 370.19px;
    height: 31.95px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: #6c6c6c;
    margin-top:10px;

}
.footer{
    margin-left:90px;
    margin-top:-50px;
}
.copy{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: left;
    color: #6c6c6c;
}
.toyy{
     margin-left:896px;
    margin-top:-26px;
}
.term{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    text-align: right;
    color: #6c6c6c;
}
.sam{
    margin-left: 335px;
    margin-top: -41px;
}
.icon{
    margin-left: 644px;
    margin-top: -28px;
}