* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

/* header */

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Header left*/

.header-left {
    display: flex;
    align-items: center;
}

.header-input {
    width: 317px;
    height: 38px;
    border: solid 1px #e6e6e6;
}

.input-find {
    height: 14px;
    width: 14px;
    padding: 12px 11px
}

.header-button {
    height: 40px;
    width: 36px;
    border: solid 1px #e6e6e6;
    background-color: #fff;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.brand {
    text-decoration: none;
    font-family: Lato;
    font-size: 27px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    
    line-height: 1.19;
    letter-spacing: 0.68px;
    text-align: center;
    
    color: #222222;
}

.text-style-1 {
  font-weight: 900;
  color: #f16d7f;
}


.form {
    display: flex;
    align-items: center;
    margin-left: 37px;
}

.form-browse {
    padding: 4px 26px 4px 15px;
    background-image: linear-gradient(to top, #f9f9f9, #f5f5f5);
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.29;
    letter-spacing: 0.35px;    
}

.select {
    display: none;
    position: absolute;
    top: 100%;
}

.select:hover{
    display:inherit;
}

.select li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

/* Header right */

.logo-img {
    margin-right: 13px;
}

.cart {
    margin-right: 26px;
}

.header-button-right {
    display: flex;
    padding-left: 18px; 
    
    text-decoration: none;
    font-family: 'Lato-Regular';
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    line-height: 32px;
    
    text-align: left;
    vertical-align: center;
    
    color: #fff;
    background-color: #F16D7F;
    

}

.header-button-right-find {
    height: 18px;
    width: 18px;
    padding: 9px 12px 10px 8px;
    
}

/* Navigation Menu */

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu-link {
    display: block;
    padding: 20px;
    
    font-weight: 700;
    font-size: 14px;
    color: #222;
    
    text-decoration: none;
}

/* Promo */

.promo {
    height: 614px;
    background-color: #e8e8e8;
}

.promo-content {
    height: 100%;
    background-image: url(../img/promo.jpg);
    background-position: 0 -51px;
}

.promo-block {
    padding-left: 12px;
    margin-top: 261px;
    float: left;
    
    color: #222222;
    font-size: 40px;
    font-weight: 700;

    letter-spacing: 0.003em;
    
    border-left: 12px solid #f16d7f;
}

.promo-text-top {
    font-family: 'Lato-Black', sans-serif;
    font-size: 60px;
    line-height: 72px;
}

.promo-text-bot {
    font-family: 'Lato-Black', sans-serif;
    line-height: 72px;
    
    
    
}

/* Hot-deal */

.hot-deal {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.hot-deal-content {
    
}

.hot-deal-content-max {
    width: 560px;
    height: 542px;
    background-color: #ccc;
}

.hot-deal-content-min {
    width: 560px;
    height: 261px;
    background-color: #454545;
}

.hot-deal-text {
    float: left;
    margin-top: 26px;
    padding: 16px 20px;
    background-color: #fff;
}

.hot-deal-text-mini {
    font-size: 18px;
    font-weight: 900;
    color: #222222;
}

.hot-deal-text-big {
    font-size: 30px;
    font-weight: 900;
    color: #F16D7F;
}

/* Featured-items */

.featured-items {
    margin-top: 93px;
}

.featured-items-title {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #222222;
    
    text-align: center;
}

.featured-items-subtitle {
    display: block;
    
    margin-bottom: 59px;
    font-size: 14px;
    font-weight: 400;
    color: #9F9F9F;
    
    text-align: center;
}

.featured-products {
    display: flex;
}

.featured-product {
    position: relative;
}

.featured-products-image {
    width: 261px;
    height: 280px;
}

.featured-products-name {
    font-size: 14px;
    font-weight: 400;
    color: #222222;
}

.featured-products-cost {
    margin-top: 16px;
    
    font-size: 16px;
    font-weight: 700;
    color: #F16D7F;
}

.featured-product:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}



.featured-product:hover .featured-products-image{
    filter: brightness(50%);
}


.product-add {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    width: 123px;
    height: 39px;
    border: 1px solid #ffffff;
    text-align: center;
    line-height: 39px;
    display: none;
    position: absolute;
    top: 98px;
    left: 70px;
    text-decoration: none;
}


.featured-product:hover .product-add {
    display: block;
    
}

.cart-white {
    position: absolute;
    top: 10px;
    left: 12px;
}

.add-to-cart {
    position: absolute;
    top: 2px;
    right: 13px;
}

.browse-all-product {
    margin-top: 72px;
    text-align: center;
}

.browse-all-product-button {
    padding: 16px 44px 16px 24px;
    text-decoration: none;
    font-family: 'Lato-Regular';
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 32px;
    text-align: left;
    vertical-align: center;
    color: #fff;
    background-color: #F16D7F;
    

}

/* Offer */

.offer {
    display: flex;
    margin-top: 113px;
}

.offer-left {
    width: 767px;
    height: 529px;
    background: #fff url(../img/offer-bg.jpg) center no-repeat;
}

.offer-right {
    width: 373px;
    height: 529px;
    background: #222224;
}

.offer-right-mg {
    margin: 48px 26px 16px 36px;
}

.offer-content {
    margin: 132px 416px 272px 36px;
}

.offer-content-text-big {
    font-size: 54px;
    font-weight: 700;
    color: #FFFFFF;
}

.offer-content-text-small {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

.text-style-2 {
    color: #F16D7F;
}

.offer-right-box {
    display: flex;
    width: 311px;
    height: 152px;
}

.offer-right-box-img {
    padding-right: 30px;
    
}

.offer-text-top {
    font-size: 20px;
    font-weight: 700;
    color: #FBFBFB;
}

.offer-text-bot {
    font-size: 14px;
    font-weight: 300px;
    color: #FBFBFB;
}

/* Subscribe */

.subscribe {
    height: 438px;
    margin-top: 97px;
    background: url(../img/subscribe-bg.png) no-repeat center;
    background-position: -10px 0;
    background-size: cover;
}

.subscribe-content {
    
    position: absolute;
    display: flex;
    margin-top: 111px;
    margin-bottom: 101px;
}

.subscribe-left {
    display: flex;
    width: 579px;
}

.subscribe-left-img {
    width: 83px;
    height: 83px;
    padding-right: 28px;
}

.subscribe-text-top {
    font-size: 16px;
    font-style: italic;
}

.subscribe-text-middle {
    font-size: 16px;
    font-weight: 700;
    color: #F16D7F;
}

.subscribe-text-bot {
    font-size: 12px;
    font-weight: 300px;
}

.subscribe-right {
    margin-left: 130px;

    
}

.subscribe-right-text {
    margin-left: 173px;
    width: 286px;
}

.text1 {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 400;
    color: #222224;
}

.text2 {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #222224;
}




.subscribe-form {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.subscribe-input {
    width: 308px;
    height: 46px;
    border: solid 1px #e6e6e6;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #E1E1E1;
}

.subscribe-input:active {
    border: solid 1px #e6e6e6;
}

.subscribe-button {
    width: 104px;
    height: 46px;
    background-color: #F16D7F;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.subscribe-button-text {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

/* Footer */

.footer {
    margin-top: 109px;
}

.footer-top {
    display: flex;
    
}

.footer-top1 {
    width: 430px;
    
}

.footer-top2 {
    margin-left: 60px;
}

.footer-top3 {
    width: 146;
    margin-left: 128px;
}

.footer-top4 {
    margin-left: 78px;
    width: 153px;
}

.footer-text2 {
    margin-left: 60px;
    width: 102px;
    
}

.footer-text {
    font-size: 14px;
    font-weight: 300px;
    color: #898989;
    
}

.footer-text-top {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #F16D7F;
}

.footer-text-bot {
    font-size: 16px;
    font-weight: 400;
    color: #898989;
}

.footer-bot {
    margin-top: 20px;
    height: 79px;
    background-color: #E6E6E6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    
}

.footer-content-1 {
    margin-top: 28px;

}

.footer-content-1-text {
    font-size: 16px;
    font-weight: 400;
    color: #7A7A7A;
}

.footer-content-2 {
    margin-top: 24px;
}

.footer-logo3 {
    opacity: 0.3;
}





/* Other */

.tdn {
    text-decoration: none;
}

.mb20 {
    margin-bottom: 20px;
}

.ml32 {
    margin-left: 32px;
}

.ml13 {
    margin-left: 13px;
}

.ml7 {
    margin-left: 7px;
}

.ht1 {
    background-image: url(../img/ht1.jpg);
}

.ht2 {
    background-image: url(../img/ht2.jpg);
}

.ht3 {
    background-image: url(../img/ht3.jpg);
}

.ht4 {
    background-image: url(../img/ht4.jpg);
}

.pr1 {
    background-image: url(../img/product-1.jpg);
}

.pr2 {
    background-image: url(../img/product-2.jpg);
}

.pr3 {
    background-image: url(../img/product-3.jpg);
}

.pr4 {
    background-image: url(../img/product-4.jpg);
}

.pr5 {
    background-image: url(../img/product-5.jpg);
}

.pr6 {
    background-image: url(../img/product-6.jpg);
}

.pr7 {
    background-image: url(../img/product-7.jpg);
}

.pr8 {
    background-image: url(../img/product-8.jpg);
}