@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Shadows+Into+Light&display=swap');
*{
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
.container {
    width: 1365px;
    margin: 0 auto;
}
.slider {
    background-image: url(../img/hero-26.jpg);
    height: 800px;
    position: relative;
}
.menu-list {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: right;
    color: #8c8c8c;
}

.header {
    width: 1100.28px;
    height: 27.18px;
    background: transparent;

}
.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: 700.36px;
    top: 32.82px;
    right: 444px;
}
.menu-link-a:hover{
    color: #212121;
    font-family: Montserrat;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.menu-link-a{
    font-family: Montserrat;
    font-weight: 300;
    color: #8c8c8c
}
.logo{
    position: relative;
    left: 98.25px;
    top: 63.84px;
}
.button-search{   
    position: relative;    
    left: 1176.55px;    
    top: 0px;    
    margin: 0;    
    padding: 0;
    border: 0px;
}
.button-search:hover{
    margin: 1px;
}
.slider-tranding{
    width: 470.34px;
    height: 43.8px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: start;
    color: #43a047;
    position: relative;
    left: 98px;
    top: 306.8px;
    }
.slider-h2{
    width: 470.34px;
    height: 50px;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    text-align: left;
    position: relative;
    color: #212121;
    top: 290px;
    left: 98px;
}
.slider-content{
    width: 470.34px;
    height: 57.99px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    position: relative;
    left: 98px;
    top: 330px;
}
.button-text{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 24px;
    text-align: center;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
}
.button-text:hover{
    text-decoration: underline; 
}
.button{
    width: 212px;
    height: 45px;
    border-radius: 22.5px;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);
    position: relative;
    left: 98px;
    top: 350px;
    border: 0px;
}
.pagination{
    width: 120px;
    height: 40px;
    background: transparent;
    position: relative;
    left: 650px;
    top: 520px;
    }
.circle0{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: #c7c7c7;
    border: 0px;
}
.circle0:hover{
    border: 1px solid black;
}
.circle-b{
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background-color: #212121;
    border: 0px;
}
.circle-b:hover{
    border: 2px solid blue;
}
.cont{
    width: 270px;
    font-family: Montserrat;
    font-weight: 700;
    color: #8c8c8c;
    position: relative;
    top: 50px;
    left: 98px;
}
.address{
    width: 270px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    position: relative;
    top: 90px;
    left: 130px;}
.usef-pages{
    text-decoration: none;
    font-family: Montserrat;
    font-weight: 700;
    color: #212121;
    letter-spacing: 0.05em;
    line-height: 35px;
}
.usef-pages:hover{
    text-decoration: underline; 
}
.infor{
    width: 470px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    color: #6c6c6c;
    position: relative;
    top: -80px;
    left: 398px;}
.usef-tab{
    width: 235px;
    position: relative;
    left: 398px;
    top: -60px;
}
.usef-tab2{
    width: 235px;
    position: relative;
    top: -165px;
    left: 640px;
}
.address{font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    position: relative;top: 78.22px;left: 98px;}
.sit{
    width: 370px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    color: #6c6c6c;
    position: relative;
    left: 898px;
    top: -310px;
}
.sit_content{
    width: 370.19px;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    color: #212121;
    position: relative;
    left: 898px;
    top: -290px;
}
.input_sit{
    width: 370.19px;
    height: 48px;
    background: transparent;
    border: 0px;
    color: #6c6c6c;
    position: relative;
    left: 898px;
    top: -230px;
}
.input_sit:hover{
    border: 2px solid grey;
}
.privilege{
    width: 400px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    color: #6c6c6c;
    position: relative;
    left: 98px;
    top: -50px;
}
.terms_cookies{
    display: inline;
    margin-right: 5px;
    padding: 3px;
    padding: 3px;
}
.terms{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    color: #6c6c6c;
    text-decoration: none;
    position: relative;
    left: 898px;
    top: -75px;
}
.terms_dash{
    width: 50px;
    margin: 0px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    color: #6c6c6c;
    position: relative;
    left: 1060px;
    top: -100px;
}
.cookies{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 26px;
    color: #6c6c6c;
    text-decoration: none;
    position: relative;
    left: 1075px;
    top: -127px;
}

.conteiner1{
    width: 1170px;
    height: 881px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

.img2{
    height: 370px;
    width: 370px;
    float: left;
    padding: 10px;
    border: 5px;
}
.golova{
    float: left;
    width: 1170px;
}
.title_left{
    float: left;
    font-family: 'Montserrat';
    margin-left: 10px;
    position: relative;
    top: -30px;
}
.explore_right{
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 24px;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 15px;
    float: right;
    position: relative;
    left: 10px;
}
.explore_right:hover{
    text-decoration: underline; 
}
.block_one{
    margin-top: 30px;
    float: left;
    clear: left;
}
.block_two{
    float: left;
    width: 1170px;
    height: 881px; 
    margin-top: 100px;
    margin-bottom: 50px;
    background-size:1170px 881px;
    background-image: url(../img/7.png);
}
.left_block{
    margin: 350px 80px;
}
.color_red{
    color: red;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
}

.fishnet{
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 100;
}

.text_p{
    width: 470px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 14px;
    position: relative;
    top: 20px;
}

.button1{
    background-color: white;
    border-radius: 30px;
    width: 212px;
    text-align: center;
    height: 35px;
    margin-top: 10px;
    padding-top: 10px;
    box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 40px;
}
.buttonp{
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 24px;
    font-weight: 700;
    font-family: Montserrat;
    text-align: center;
    position: relative;
    top: 2px;
}
.buttonp:hover{
    text-decoration: underline; 
}
.circle{
    width: 550px;
    margin: -50px 550px;
}
.circle1{
    width: 25px; 
    height: 25px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    float: left;
}
.circle1:hover{
    border: 1px solid black;
}
.circle2{
    width: 35px; 
    height: 35px;
    background: rgba(0,0,0,1);
    border-radius: 50%;
    float: left;
    margin: -6px 5px 0 5px;
}
.circle2:hover{
    border: 2px solid blue;
}
.interiors-flex {
    display: flex;
    justify-content: space-between;
    
    width: 1170px;
    height: 570px;
    
    margin: 120px auto;
}

.interiors-flex .exclusive {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #1e88e5;
    font-family: 'Montserrat';
    font-weight: 700;
}

.interiors-flex .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 43.2px;
    color: #212121;
    font-family: 'Montserrat';
}

.interiors-flex .description {
    font-weight: 300;
    font-size: 13.99px;
    line-height: 23.98px;
    color: #6c6c6c;
    font-family: 'Montserrat';
    position: relative;
    top: 10px;
}

.interiors-flex .button00 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    color: #6c6c6c;
    padding: 10px 20px;
    border-radius: 22.5px;
    background: white;
    box-shadow: 0px 2px 5px rgba(33, 33, 33, 0.35);
    text-align: center;
    display: inline-block;
    margin: auto 0;
    margin-top: 36px;
    font-family: 'Montserrat';
    color: #212121;
}
.interiors-flex .button00:hover{
    text-decoration: underline; 
}
.interiors-flex .interior {
    background-image: url('../img/inter_1.png');
    background-size: 100%;
    
    width: 570px;
    height: 570px;
}

.interiors-flex .interiors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    
    width: 570px;
    height: 570px;
}

.interiors-flex .text {
    padding-top: 186px;
    padding-left: 32px;
}



.application {
    width: 100%;
    height: 516px;
    
    background-image: url(../img/application.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.application .text {
    padding-left: 100px;
    padding-top: 100px;
}

.app {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #6c6c6c;
}

.favorite {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
}

.save {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #6c6c6c;
}

.margin-5 {
    margin-right: 5px
}


.application {
    width: 100%;
    height: 516px;
    
    background-image: url(../img/application.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.application .text {
    padding-left: 100px;
    padding-top: 100px;
}

.app {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 48px;
    color: #6c6c6c;
    font-family: 'Montserrat';
    font-weight: 700;
    position: relative;
    left: 98px;
}

.favorite {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 62px;
    line-height: 72px;
    color: #212121;
    font-family: 'Montserrat';
    position: relative;
    left: 98px;
}

.save {
    font-weight: 300;
    font-size: 22px;
    line-height: 24px;
    color: #6c6c6c;
    font-family: 'Montserrat';
    position: relative;
    left: 98px;
}

.margin-5 {
    margin-right: 5px;
    position: relative;
    left: 98px;
}
.margin-6 {
    margin-right: 5px;
    position: relative;
    left: 98px;
}
