* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: lato;
}
a{
    text-decoration: none;
    color: black;
}
body {
    padding: 0;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #fff;
    height: auto;
    width: 1600px;
}
.header{
    width: 100%;
    height: 150px;
}
.headone{
    width: auto;
    height: 50px;
    padding: 25px 225px;
    border-bottom: 1px solid #ECECEC;
}
.brin{
    float: left;
}
.brand{
    float: left; 
    margin-top: 10px;
    padding: 5px;
}
.group{
    float: left;
    padding: 0px;
}
.browse{
    float: left;
    color: #A4A4A4;
    margin-top: 8px;
    margin-left: 15px;
    width: 403px;
    height: 40px;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}
.browse1{
    width: 87px;
    height: 40px;
    background-color: #F9F9F9;
    float:left; 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px; 
    border: 1px solid #F9F9F9;
    border-right: 1px solid #ccc; 
    padding-left: 5px;
}
.search{
    padding-left: 7px;
    margin-top: 8px;
}
.myacc{
    float: right;
}
.busket{
    padding: 5px;
    float: left;
}
.buttonmyacc{
    width: 130px;
    height: 40px;
    background-color: #F16D7F;
    text-align: center;
    padding: 0 10px;
    color: white;
    border: none;
    font-size: 15px;
    margin-left: 20px;
}
.headtwo{
    width: 100%;
    height: 50px;
}
.headtwo nav{
    padding: 15px 0;
    margin: 0 auto;
    width: 876px;
    height: 16px;
    text-align: center;
}
.headtwo nav a{
    padding: 0 30px;
    float: left;
}
.headtwo nav a li{
    color: black;
    font-size: 14px;
    list-style-type: none;
    float: left;
}
.headtwo a li:hover {
    border-bottom: 2px solid #F16D7F;
}
.first{
    height: 148px;
    width: 100%;
    background-color: #F8F3F4;
    background-repeat: no-repeat;
}
.onediv{
    padding-top: 60px;
    padding-left: 220px;
    padding-right: 150px;
}
.newarrivals{
    color: #F16D7F;
    font-size: 24px;
}
.onediv nav{
    float: right;
    width: 300px;
}
.onediv nav ul a li{
    font-size: 14px;
    list-style-type: none;
    float: left;
    margin-left: 10px;
}


.second{
    height: 777px;
    width: 100%;
}
.seconddiv{
    width: 100%;
    height: 100%;
}
.slider1 {
    height: 777px;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider {
    position: relative;
    padding: 0px;
}
.slayd {
    width: 1600px;
    height: 777px;
    background-color: #F7F7F7;
}
.slayd img {
    width: 597px;
    height: 724px;
    margin-left: 450px;
}



.third{
    height: 650px;
    width: calc(100%-440px);
    padding: 0 220px 0px 220px;
    margin-bottom: 0px;
}
.thirddiv{
    position: absolute;
    margin-top: -85px;
    width: calc(100%-640px);
    height: 650px;
    padding: 0 260px;
    background-color: white;
    outline: 2px solid #F7F7F7;
}
.thirddiv1{
    width: 650px;
    height: 590px;
    text-align: center;
    padding-top: 70px;
}
.choose{
    width: 33.33%;
    float: left;
}
.input{
    margin-top: 10px;
    width: 80%;
    height: 35px;
    border: none;
    padding: 0 5px;
    outline: 1px solid #EAEAEA;
}
.input1{
    margin-top: 10px;
    width: 22%;
    height: 23px;
    border: none;
    background-color: #fff;
    padding: 6px 0px;
    padding-right: 68%;
    outline: 1px solid #EAEAEA;
}
.thirddiv1 button{
    margin-top: 30px;
    background-color: white;
    width: 537px;
    height: 55px;
    border: none;
    border: 1px solid #EF5B70;
    color: #EF5B70;
    font-size: 16px;
    font-weight: bold;
}
button span{
    height: 240px;
}
.thirddiv1 button:hover{
    background-color: #EF5B70;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer
}
.also{
    font-size: 24px;
    font-weight: bold;
}
.fourth{
    height: calc(530px - 30px);
    width: calc(100% - 460px);
    padding: 15px 230px;
}
.fourthdiv{
    width: 100%;
    height: 100%;
}
.fourthtext{
    text-align: center;
}
.images{
    margin: 0;
    width: 1200px;
    margin-top: 60px;
    margin-bottom: 40px;
}
.slider2 {
    width: 100%;
    height: 360px;
    background: white;
}    
.slider2 li {
    width: 260px;
    height: 280px;
    list-style-type: none;
}
.img1{
    display: none;
}
.gallery_item {
    position: relative;
    background: #E9E9E9;
    display: block;
    width: 260px;
    height: 280px;
    float: left;
}
.bottom_img{
    height: 60px;
    width: 240px;
    background-color: white;
    padding: 10px;
    font-weight: bold
}
.mango_pt{
    font-size: 13px;
}
.price{
    font-size: 16px;
    color: #F16D7F;
}


.fifth{
    width: 100%;
    height: 438px;
    background: url(img/Clip13.png);
}
.subw{
    width: calc(100% - 460px);
    height: 218px;
    padding: 110px 230px;
    background-color: #F2F2F250
}
.fifthdiv{
    height: 100%;
    width: 100%;
}
.layer{
    float: left;
    height: 83px;
    width: 83px;
}
.layer img{
    border-radius: 50%;
    height: 83px;
    width: 83px;
}
.leftone{
    margin-left: 20px;
    float: left;
    width: 425px;
    line-height: 20px;
}
.rightone{
    padding-top: 40px;
    text-align: center;
    float: right;
}
.email{
    width: 376px;
    height: 45px;
    background-color: #E1E1E1;
    border-radius: 23px;
}

.sixth{
    width: calc(100% - 460px);
    height: 240px;
    padding: 110px 230px 0 230px;
    margin-bottom: 100px;
}
.one_six{
    width: 450px;
    float: left;
}
.two_six{
    margin-left: 70px;
    width: 100px;
    float: left;
}
.three_six{
    margin-left: 130px;
    width: 150px;
    float: left;
}
.four_six{
    margin-left: 70px;
    width: 160px;
    float: left;
}
.zag_six{
    color: #F16D7F;
    font-size: 18px;
    font-weight: bold;
}
.span_six{
    color: #898989;
    font-size: 16px;
    line-height: 60px;
}
.footer{
    height: 20px;
    width: calc(100% - 460px);
    padding: 30px 230px 20px 230px;
    background-color: #E6E6E6;
}
.block1 a{
    float: right;
}
.block2{
    float: left;
    background-color: #fff;
    border: none;
    margin-top: -25px;
    margin-right: 10px;
    text-align: center;
    box-shadow: 0 0 2px #00000030;
    height: 29px;
    width: 29px;
    padding: 3px;
}