body {
	color:red;
	background: #ccc;
}
h1 {
	color:darkmagenta;
	background: #ccc;
	border: 10px solid #ccc;
}
h2 {
	color:darkblue;
	background: #ccc;
	padding-left: 50px;
	text-align: center;
}
h3 {
	color:darkblue;
	background: #ccc;
}
.menu li a { 
		width: 0px;
}

.menu li {
        width: 100px;
        height: 60px;
        list-style-type: none;
        border: 4px solid #ccc;
        text-align: center;
        }
.menu li a: novers
                color: red;
.menu li a: active {
                color: green
                }
    table {
        border: 1px solid #ccc;
        width: 400px;
        height: 200px;
}
td {
        border: 1px solid red;
        padding-left: 0px;
        vertical-align: top;
        text-align: center;
}

.menu li: first-child{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        }
.menu li: nth-child(3n-1){
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #000;
        }
.menu li {
        width: 100px;
        height: 60px;
        list-style-type: none;
        border: 4px solid #ccc;
        text-align: center;
        }
.menu li a: novers
                 color: red;
.menu li a: active {
                color: green
                }

.menu > li {
            width: 150px;
            height: 50px;
            border: 1px solid #000;
            list-style-type: none;
            }
.menu > li {
        display: inline:
        }
.menu a{
        width: 100%;
        height: 50px;
        display: block;
        }

.container {
      