@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&family=Shadows+Into+Light&display=swap');
body {
    font-family: 'Motserrat', sans-serif;
    margin: 0 auto;
    background-color: #fff;
    padding: 0;
}

.header{
    padding-top: 63px;
    padding-left: 98px;
    padding-right: 1083px;

}

.menu{
    float: right;
    margin:  -25px;
}
.padding-site{
    padding-left: 98px;
    padding-right: 98px;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial;
}
.container{
    width: 1336 px;
    margin: 0 auto;
}
.slyder{
    height: 800px;
    background-image: url(hero-26.jpg);
    position: relative;
    align-content: center;
}
.logo{
    position: relative;
    left: 98px;
    top: 30px; 
    right: 1083px;
}
.menu-list{
    list-style-type: none;
    float: left;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: right;
    color: #8c8c8c;
}
.menu-list, .menu-link{
    float:left;
    margin:0 5px;
}
.menu-link{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    right: 167px;
    top: 40px;
    left:657px;
}
.menu-link-a{
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
}
.slyder-trending{
    color: #43a047;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    position: relative;
    padding: 0px 182px;
    margin-top: 192px;
}
.slyder-h2{
    width: 470px;
    height: 132px;
    font-family: Montserrat-Thin;
    font-weight: normal;
    font-size: 62px;
    line-height: 72px;
    text-align: left;
    text-transform: uppercase;
    top: 320px;
}
.slyder-content {
    width: 470.34px;
    height: 57.99px;
    font-family: Montserrat-Light;
    font-weight: 300px;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    color: #6c6c6c;
    left:182px;
    top:360px;

}
.button{
    margin-top: 36px;
    padding: 13px 0px;
    background-color: white;
    width: 212px;
    height: 19px;
    border-radius: 22.5px;
    box-shadow: 0 2px 5px #212121;
    position: relative;
    left: 280px;
    top: -35px;
    border: 0px;
}
.p{
    margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px; 
}
.ar{
    float: right;
    margin-right: 30px;
    margin-top: -19px;
    width: 9px;
    height: 14px;
}
.pagination{
    width: 120px;
    height: 40px;
    background: transparent;
    position: relative;
    left: 650px;
    top: 160px;
}
.circle{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius:50px;
    float: left;
}
.circle-a {
    width: 40px;
    height: 40px;
    background-color: #212121;
    border-radius: 50%;
    float: left;
    margin: -6px 5px 0 5px;
}
.feat{
    width: 1366px;
    height: 375px;
    padding: 115px 0;
}
.featured{
    width: 1170px;
    height: 375px;
    padding: 0 98px;
}
.head{
    width: 1170px;
    height: 55px;
}
.menu-2{
    list-style-type: none;
    float: left;
}
.bar{
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
    width: 187px; 
    border-bottom: 3px solid black; 

}
.bar-link{
    width: 100px;
    border-bottom: 2px solid #707070;
    color: #6c6c6c;
}

.but {
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.2em;
    line-height: 24px;
    text-align: center;
    color: #212121;
    background: transparent;
    width: 138.66px;
    height: 13.03px;
}
.bar,.bar-link,.but{
    float:left;
    margin:0 5px;
}
.mg{
    width: 1172.87px;
    margin-top: 50px;

}
.photo{
    width: 270px;
    height: 270px;
    background: transparent;
    background-image: url(product-4.jpg);
}
.ttn{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba( 33, 33, 0.35);
    border-radius: 23px;
    width: 48px;
    height: 48px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.text{
    width: 270px;
    height: 57.52px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 21.91px;
    line-height: 29.88px;
    text-align: center;
    color: #212121;
}
.text-2{
    width: 270px;
    height: 56.75px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.94px;
    line-height: 21.91px;
    text-align: center;
    color: #6c6c6c;
}

.fon{
    width: 321.97px;
    height: 270px;
    background: transparent;
}
.uo{
   width: 301.68px;
    height: 270px;
    background: #fff;
    border: 1px solid #9c9c9c;
    opacity: 0.9;
}
.photo-2{
    width: 270px;
    height: 270px;
    background: transparent;
    background-image: url(product-3.jpg);
    padding-right: 30px;
}
.photo-3{
    width: 270px;
    height: 270px;
    background: transparent;
    background-image: url(product-2.jpg);
    padding-right: 30px;
}
.photo-4{
    width: 270px;
    height: 270px;
    background: transparent;
    background-image: url(product-1.jpg);
}
.promo{
    width: 1366px;
    height: 686px;
}
.block{
    float: left;
    width: 50%;
    height: 683px;
    background-image: url(promo-product-1.jpg) 
}
.contt{
    height: 60px;
    width: 470px;
    padding: 0px 52px;
    margin-top: 192px;
}
.txt-1 {
    width: 399.97px;
    height: 43.8px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: left;
    color: #1E88E5;
    font-size: 18px;
    letter-spacing: 2px;

}
.txt-2 {
    width: 399.97px;
    height: 86.67px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
    margin: 10px -3px;
}
.txt-3 {
    margin-top: 18px;
    width: 399.97px;
    height: 58.07px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.99px;
    line-height: 23.98px;
    text-align: left;
    color: #6c6c6c;
}
.button-3 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.ord{
     margin-left: -10px;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}
.ordd{
    float: right;
    margin-right: 30px;
    margin-top: -30px;
    width: 9px;
    height: 14px;
}
.promo-2{
    width: 1366px;
    height: 686px;
    background-image: url(promo-product-2.jpg);
}
.textt{
    width: 399.97px;
    height: 43.8px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 48px;
    text-align: left;
    color: #fff;
}
.tex{
    width: 399.97px;
    height: 86.67px;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 36px;
    line-height: 43.2px;
    text-align: left;
    color: #212121;
}
.ttt{
    width: 399.97px;
    height: 58.07px;
    font-family: Montserrat-Light;
    font-weight: normal;
    font-size: 13.99px;
    line-height: 23.98px;
    text-align: left;
    color: #6c6c6c;
}
.btt{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 1px rgba( 33, 33, 0.35);
    border-radius: 23px;
    width: 212px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 17.99px;
    letter-spacing: 0.2em;
    line-height: 23.98px;
    color: #6c6c6c;
}
    .photo, .photo-2, .photo-3, .promo-4{
        
    }